[2021-11-06 00:17] Lastdayends commented on #853
@soneryaldiz

#option 1 is good. The description for #option 1 is for user perspective.

We need to discuss what is the inputs to the PnR.

[2021-11-06 04:40] parijatm commented on #595
Closing this as we decided to ZBB re-enabling C++ tests. Instructions allowing python developers turn debug off are already in README.md

[2021-11-06 04:40] #595 closed

[2021-11-06 05:10] parijatm commented on #208
align.schema is now being actively used. Closing.

[2021-11-06 05:10] #208 closed

[2021-11-06 23:23] soneryaldiz commented on #853
@Lastdayends

Inputs for the PnR can be as simple as the JSON serialization of the classes. Example:
[code]
Is this sufficient?

[2021-11-07 04:59] Lastdayends commented on #853
@soneryaldiz

This is sufficient to define all pins of a certain net as power/signal pins.

But do we have the requirement, which define part pins of a certain net as power/signal pins?

[2021-11-08 16:52] kkunal1408 commented on #745
Can you provide more explanation on this?

[2021-11-08 16:59] #626 closed

[2021-11-08 17:06] soneryaldiz commented on #745
@kkunal1408 , this issue is stale and closing. As discussed in the team meetings, we should discontinue SymmetricNets constraint going forward.

[2021-11-08 17:06] #745 closed

[2021-11-08 17:41] soneryaldiz commented on #853
@Lastdayends

Not quite sure if I understand your point. Let me try to simplify the enhancement: I think this constraint can be primarily handled by the compiler:
- style == grid => The current behavior when power and ground ports are labeled, no changes.
- style == signal => Compiler can still utilize power/ground net names for constraint generation and these nets are routed as signals (the curre

[2021-11-08 17:57] soneryaldiz commented on #854
@stevenmburns ,

You are right, symmetric blocks not hardened yet and pending for #807.

Enabling flow start at route would be great. This may allow us to create simple routing test cases for matched/mesh routing enhancements.

I have an old PR which creates primitives with partial routing. I can resurrect that PR for the next step. Once we have `nvariants` solutions from the placement engine, the

[2021-11-08 17:58] kkunal1408 commented on #509
Fixed. Removed self-loops.

[2021-11-08 17:58] #509 closed

[2021-11-08 17:59] kkunal1408 commented on #494
Fixed in latest master.

[2021-11-08 17:59] #494 closed

[2021-11-08 18:03] kkunal1408 commented on #381
integrated in master

[2021-11-08 18:03] #381 closed

[2021-11-08 18:43] Lastdayends commented on #853
@soneryaldiz

So you just want to define whether the original power net (original power net is defined in the verilog file) should be tried as:
1. a power net, and do power routing for all its pins
2. a signal net, and do signal routing for all its pins
3. a power net, but do not route

A power net might include several pins. Our detailed router do the routing for each pins.

[2021-11-08 18:50] soneryaldiz commented on #853
That is correct. 1 & 2 above are already done in the current implementation. 3 is the new feature and can be generalized beyond power nets using `DoNotRoute` constraint which should be sufficient for the routing algorithm.

[2021-11-08 19:05] Lastdayends commented on #853
@soneryaldiz

I see.

Is there a testcase, so I can implement and do a test?

[2021-11-08 19:16] soneryaldiz commented on #853
I will provide a test case in a few days to get started.

[2021-11-08 19:29] Lastdayends commented on #853
@soneryaldiz

Got that. Thanks!

[2021-11-08 19:52] tonmoydhar opened #855 "Aspect ratio of resistors"
The aspect ratio of resistors looks improper:

![Screen Shot 2021-11-08 at 1 41 50 PM](https://user-images.githubusercontent.com/44488667/140807243-dd23fc36-cf5e-4472-bdff-b1f85c0060fe.png)

To reproduce the issue, please use the following example in a different branch:
https://github.com/ALIGN-analoglayout/ALIGN-public/blob/example/EQ_layout_4x4/examples/equalizer_modules/VGA/VGA.sp

[2021-11-09 16:38] kkunal1408 commented on #842
@Lastdayends did you get a chance to look into it?

[2021-11-09 16:43] Lastdayends commented on #842
@kkunal1408

Sorry, not yet. Will look into it today.

How to reproduce the error?

[2021-11-09 16:45] kkunal1408 commented on #842
You can directly run it from the master.
"schematic2layout.py ../examples/mimo_bulk -p ../pdks/FinFET14nm_Mock_PDK/"

[2021-11-09 19:05] soneryaldiz commented on #851
Notes from discussion with Steve:
If the circuit is hierarchical, we need to consider the placement grid for the intermediate level of hierarchy as well. For example, 4-bit flash ADC consists of comparators. Once the comparator subcircuit is placed and routed, the legal placement grid for the comparator instances at ADC level needs to be calculated.

[2021-11-10 18:58] Lastdayends commented on #842
@kkunal1408

Can your finish the P&R in the your machine?

In my end, placement takes around 2 hours and the routing fails due to memory error. In the design, there are some huge caps. Those huge caps extremely increase the complex for the router.

Can we change the huge caps to small caps?

[2021-11-11 19:56] parijatm commented on #207
#668 & #704 addresses this

[2021-11-11 19:56] #207 closed

[2021-11-11 19:58] parijatm commented on #218
@arvuce22 to tag the relevant PR & close this.

[2021-11-11 20:00] parijatm commented on #237
Refer #768

[2021-11-11 20:18] srini229 opened #857 "Mismatch in HPWL from ILP and SA cost"
There is a mismatch between HPWL calculated using the "Net_x/y" variables in ILP and HPWL_extend calculated for simulated annealing cost. Plot below shows the deviation between the two HPWL values for the switched_capacitor_filter test-case. The HPWL values are from all the hierarchies in the test-case.
![before](https://user-images.githubusercontent.com/73570678/141363182-484e2746-1662-4a47-bbf2-

[2021-11-11 20:30] soneryaldiz opened #859 "Power-Aware Primitive Generation"
Backside power delivery is a new technology that delivers power to transistors using a special power and eliminates power routing on the front side of the wafer. To leverage this technology, the transistor primitive generator needs to know whether a particular pin is connected to power or ground. This requires compiler to generate unique primitives if a terminal is connected to a power net and pro

[2021-11-11 20:36] soneryaldiz commented on #859
@parijatm , @kkunal1408 , please review. This gets a little tricky when there are multiple ground power pins. Yet  we can start with a single power and ground port.

[2021-11-11 20:44] soneryaldiz opened #860 "PDK Abstraction To Offer Primitive Variants"
The best way to interleave transistors and decide the aspect ratio can vary across process technologies depending on layout effects and track availability. Today, ALIGN decides on which variants to be generated on behalf of all nodes. Either allow PDK generator to reject a variant requested by the flow (acceptable) or completely delegate variant generation to primitive generator (preferred).

[2021-11-11 20:44] soneryaldiz commented on #860
@parijatm , @kkunal1408 please review.

[2021-11-11 22:29] #857 closed

[2021-11-12 02:00] arvuce22 commented on #780
Cap pin issue is resolved in #830, now adder example does not have opens. However, there are issues in SCF test cases we are trying to resolve those.

[2021-11-12 04:16] arvuce22 commented on #850
@Lastdayends There is a minimum length DRC for M1 in  "telescopic_ota_guard_ring" testcase. Could you please check it in the following branch#862

[2021-11-12 04:19] srini229 opened #863 "hpwl mismatch between placer HPWL_extend and hpwl.py"
test-case: switched_capacitor_filter
vanilla run: schematic2layout.py $ALIGN_HOME/examples/switched_capacitor_filter/
Following warning from the HPWL check in python:
`align.pnr.toplevel INFO : Working on CMC_S_PMOS_0
align.pnr.toplevel INFO : Working on CMC_S_PMOS_0
align.pnr.toplevel WARNING : hpwl: locally computed from netlist 11600, placer computed 77848 differ!
align.pnr.toplevel INFO : Work

[2021-11-12 04:22] arvuce22 commented on #749
Closing this issue as also assigned in #850 (Guardring flow fails on master). We are trying to resolve it in PR #862.

[2021-11-12 04:22] #749 closed

[2021-11-12 04:56] Lastdayends commented on #749
@stevenmburns

Will look into it.

[2021-11-12 18:22] #863 closed

[2021-11-12 20:38] soneryaldiz commented on #822
Closing this issue for now due to higher priority issues.

[2021-11-12 20:38] #822 closed

[2021-11-13 03:08] Lastdayends commented on #850
@arvuce22 @soneryaldiz

This should not be a minimum length error. As this M1 is touching its pins in the guard ring. Its pin is a big rectangle.

![image](https://user-images.githubusercontent.com/43042278/141603589-e31fe02c-a38d-46ce-906e-37fd47b2b6d9.png)

The error reported in the intel checker should be wrong, as the guard ring is missing in the *.json file.

[2021-11-17 06:34] arvuce22 commented on #439
We are trying to resolve this issue using PR #870

[2021-11-17 06:37] arvuce22 commented on #537
Same as #439, therefore closing this issue

[2021-11-17 06:37] #537 closed

[2021-11-18 19:33] parijatm commented on #67
We don't use DefaultCanvas for more complicated PDKs. Closing.

[2021-11-18 19:33] #67 closed

[2021-11-18 19:35] parijatm opened #874 "Create ASAP7 & Sky130 PDKs"
Requires:
- [x] layers.json
- [ ] Spice models
- [x] Specific circuit examples
   - [x] Must have functional schematic simulations
   - [x] Must have testbench

[2021-11-18 19:35] parijatm commented on #203
Superseded by #874

[2021-11-18 19:35] #203 closed

[2021-11-18 19:37] parijatm commented on #204
Please make sure these parameters are not part of canvas __init__ for #874

[2021-11-18 19:43] parijatm commented on #206
Superceded by #874

[2021-11-18 19:43] #206 closed

[2021-11-18 19:46] parijatm commented on #249
Superseded by #874

[2021-11-18 19:46] #249 closed

[2021-11-18 19:48] parijatm commented on #234
No driving example yet. May be addressed by recently added placement restrictions.

[2021-11-18 19:48] #234 closed

[2021-11-18 19:51] parijatm opened #875 "Parameterize multiconnection in primitive generation"
Currently hardcoded in primitive generator.

[2021-11-18 19:52] parijatm commented on #237
Multiconnection already addressed for PnR. New issue for primitive generation in #875.

[2021-11-18 19:52] #237 closed

[2021-11-18 19:54] parijatm commented on #875
Need deeper discussion on:
1. Do we want to create so much blockage within the PDK?
2. is it really required to reduce resistance / increase pin area?

[2021-11-18 19:59] parijatm commented on #238
Fixed by #870

[2021-11-18 19:59] #238 closed

[2021-11-18 20:01] parijatm commented on #246
Low priority as we don't have circuit + layout optimization in our near term roadmap. Closing it for now.

[2021-11-18 20:01] #246 closed

[2021-11-18 20:05] parijatm commented on #315
Addressed by #866

[2021-11-18 20:05] #315 closed

[2021-11-18 20:10] kkunal1408 commented on #463
fixed in master

[2021-11-18 20:10] #463 closed

[2021-11-18 20:11] #439 closed

[2021-11-18 20:19] soneryaldiz opened #876 "Formalize Interface Between ALIGN and Primitive Generators"
Proposed Tasks:
- [x] Move primitive generator entirely to a PDK module. One can simply copy the code if necessary for a new PDK
- [ ] Define a scalable interface between ALIGN core and PDK module that generalizes to arrays (TBD)
- [x] Compiler to query PDK on whether it can generate a primitive or not to allow incremental/agile PDK development. For example, PDK v.0.1 can only generate a single tr

[2021-11-28 19:44] AmrMohamedRashed commented on #811
@arvuce22  is there any update regarding layer.json generation?

[2021-11-28 19:57] arvuce22 commented on #811
@AmrMohamedRashed Yes, we have been working on it and will provide a document to generate "Layers.json" by next week.

[2021-12-02 18:44] meghna09 commented on #875
@soneryaldiz do you prefer primitives with partial routing in all cases instead of primitive routing until M2 or M3?

[2021-12-02 18:46] meghna09 commented on #541
@tonmoydhar I think this is related to what you were looking for

[2021-12-02 18:48] meghna09 commented on #538
Unsure of whether this is still an issue. Will follow up.

[2021-12-02 18:49] meghna09 commented on #440
Same as issue #875

[2021-12-02 18:49] #440 closed

[2021-12-02 18:54] meghna09 commented on #412
@kkunal1408 this will be PDK specific. We might even use PCells and integrate it with the ALIGN flow in this case.

[2021-12-02 18:58] meghna09 commented on #650
Can we move the cell height parameter to the layers.json or somewhere the user has access to change it? I think the cell generator is able to support the requirement of having a specified height while respecting the no. of fins per unit cell mentioned in the netlist.

[2021-12-02 21:46] soneryaldiz commented on #875
@meghna09 , this depends on the interconnect stack and the type of the primitive. For example, a single transistor in 2x1 configuration with M1 pins can be easily fully routed by joining adjacent wires. If a PDK has fewer metal layers, then partial routing is preferable so that the layout is route-able.

[2021-12-05 08:10] arvuce22 commented on #780
#830 addressed this issue.

[2021-12-05 08:10] #780 closed

[2021-12-06 15:56] AmrMohamedRashed commented on #811
@arvuce22 would generating "Layers.json" be enough for mapping ALIGN to new pdk?

[2021-12-07 07:40] #817 closed

[2021-12-10 16:03] kkunal1408 commented on #790
the workaround is good. There is separate PR for codacy.

[2021-12-10 16:03] #790 closed

[2021-12-10 16:31] #831 closed, assigned to nobody

[2021-12-14 19:23] stevenmburns opened #885 "Control-C no longer exits GUI mode (change due to new IP Solver)"
@srini229 The new IP solver added a dialogue when Ctrl-C is pressed. We can not long use Ctrl-C to exit from GUI mode and start the routing engine. Is there a way to disable this Ctrl-C handler when we are not actively running a ILP command?
`a` will kill everything. `c` will keep going as if the Ctrl-C never happened. `e` seems to do the same thing.

[code]

[2021-12-17 16:34] kkunal1408 commented on #545
@stevenmburns I don't think .codacy.yml is a requirement. I have created a ticket with the Codacy team. Have we tried reintegrating?

Optional: I tried doing it for one of my personal repositories (https://github.com/kkunal1408/ota_data) and it worked smoothly. This may not be an issue but the link format for the badge seems a little different.

[2021-12-17 16:55] kkunal1408 commented on #545
@stevenmburns I emailed the Codacy team about this. I forwarded the reply I got.

[2021-12-18 01:45] stevenmburns commented on #885
Solved with #886

[2021-12-18 01:45] #885 closed

[2021-12-22 00:23] soneryaldiz opened #887 "Gaps in Power Grid"
@soneryaldiz

Actually, there are blockages in the figure.  You might think metal track 1 and 2 should exist, however, the routing track 1 is treated as an blockage in the view of power grid.
(As routing track 1 is between metal track 1 and 2, from the view of power grid, there is something between metal track 1 and 2, so it is blockage.)

![146423066-c19a3297-762b-4d3a-8376-b726f4ae4cf0](https://

[2021-12-22 00:32] soneryaldiz commented on #887
@Lastdayends

Are you saying that power grid is not constructed if there exists a signal wire segment in the corresponding power grid cell?

This appears to be quite a conservative strategy. What was the motivation for this?

Does the power tail router have the same blockage concept? Could you please confirm? If yes, this could explain the opens that we observe.

[2021-12-22 17:05] #851 closed

[2021-12-27 19:31] soneryaldiz commented on #887
Can we try the following on an experimental PR?
1) Draw power/ground grid unless the track on the grid is blocked
2) Export the blockage maps for all terminals even if a terminal is routed successfully to power grid. This could help us to find any issues in labeling blockages.

[2021-12-27 21:32] Lastdayends commented on #887
@

Yes, this strategy is for both signal and power routing. Since all our routing is grid-based routing, all internal metal will be mapped on to grid. (Grid are generated based on metal pitches.) Any internal metals will be transferred on to grid as the way below:

![image](https://user-images.githubusercontent.com/43042278/147508226-0217e288-851a-4d22-b9ad-4d142e18fc8d.png)

There are two cases.

[2021-12-27 21:33] Lastdayends commented on #887
I can make a minor update for power grid construction. Let me try it frist.

[2021-12-27 22:04] soneryaldiz commented on #887
@Lastdayends , let's bring this to the next team meeting and get to the details.

[2022-01-02 21:11] AmrMohamedRashed commented on #811
@arvuce22 is there any update regarding mapping the tool to a new PDK?

[2022-01-02 21:29] AmrMohamedRashed opened #898 "DRC errors & guard ring"
I have some notes over the generated layout:
First, the generated layout is not symmetry with respect to a global point/axis.
Second, the guard ring is very small and generates a latch-up DRC error.
Third, There are some layers are not mapped to the new PDK and can not be deleted.
Lastly, how can I modify "poly" & "Active" overlap parameter and "active" & "Nwell" spacing or enclosure  ?

Thank you

[2022-01-03 18:45] arvuce22 opened #899 "Current starved inverter netlist"
The netlist does not seem correct to me. Could you please check it?
https://github.com/ALIGN-analoglayout/ALIGN-public/tree/master/examples/inverter_current_starved

[2022-01-05 00:33] arvuce22 commented on #811
Can we have a meeting sometime this week?

On Sun, Jan 2, 2022 at 3:11 PM AmrMohamedRashed ***@***.***>
wrote:

[2022-01-05 00:35] arvuce22 commented on #811
@AmrMohamedRashed Can we have a meeting sometime this week?

[2022-01-05 07:54] AmrMohamedRashed commented on #811
@arvuce22  Yes sure I am available Thursday and Friday. What time slot suits you?

[2022-01-05 15:55] AmrMohamedRashed commented on #811
@arvuce22  here is my email to schedule a meeting

amr.cbnu@gmail.com

[2022-01-05 19:17] stevenmburns opened #901 "Intermittent failures on 'telescopic_ota_with_bias'"
@srini229 @854768750 @Lastdayends This circuit is sometimes causing failures (every third for me) on the 'merge' level CI. I suspect that it is triggering a memory error.
You can run it standalone as (assuming $ALIGN_WORK_DIR is set to $ALIGN_ROOT/work):
[code]
or through pytest as:
[code]
Here is my valgrind run:
[code]
with (partial---it is still running) output:
[code]
The first invalid read is

[2022-01-05 20:23] stevenmburns commented on #901
Here is the rest of the valgrind run including a crash:
[code]

[2022-01-05 20:30] stevenmburns opened #902 "Several tests in tests/pdks failing during CI on merge to master"
@kkunal1408 @arvuce22 @parijatm When I run the merge to master CI level manually, I get several errors from `tests/pdks`.
Here is a list of the failures and how to duplicate the errors:
[code]
To duplicate this:
[code]

[2022-01-05 21:48] arvuce22 commented on #902
@stevenmburns  These errors are due to modified primitive names. Addressed in #904

[2022-01-05 22:02] srini229 commented on #901
@stevenmburns The invalid reads are from the symphony solver. I saved the ILP problem solved during placement into a LP file and solved the problem using the standalone version of "SYMPHONY" solver attached to valgrind. I still get the ``Invalid read of size 1``. This is not causing any memory leaks though. We can maybe pass this as a test to the SYMPHONY developers.

[2022-01-05 22:05] stevenmburns commented on #901
It is probably not the issue then. There is a bigger problem with the second error in the global router. Perhaps @854768750 or @Lastdayends can take a look. From above:
[code]

[2022-01-06 01:16] stevenmburns commented on #902
Fixed in #904

[2022-01-06 01:16] #902 closed

[2022-01-06 17:15] arvuce22 commented on #901
@stevenmburns @Lastdayends There were some issues in the netlists. We have fixed all the netlists (i.e., examples) in #895. Now all these issues should get resolved.

[2022-01-06 17:18] arvuce22 commented on #901
@stevenmburns @Lastdayends Now I am not facing any issues in "telescopic_ota_with_bias". Please let me know if it does not work at your end.

[2022-01-06 19:24] meghna09 commented on #899
@arvuce22 This netlist has a regular inverter and a current starved inverter. They are not connected to each other. It is mainly for testing annotation changes and is not an actual circuit example. We can keep it and later decide if we should remove these types of testcases from the examples directory.

[2022-01-06 19:24] #899 closed

[2022-01-06 20:40] stevenmburns commented on #901
@parijatm  @soneryaldiz @kkunal1408 @arvuce22 This problem has disappeared but a new one has emerged on the same block. It is still failing the master merge check.
When run in standalone mode, it sometimes passes and sometimes produces this error:
[code]
(I added the devices naming reporting.)
Is there anything that could be done non-deterministically in the flow? Shouldn't it always fail or alway

[2022-01-06 21:15] stevenmburns commented on #901
@kkunal1408 @arvuce22 In looking at this more carefully, it seems that we are getting different parameter values of  the devices in different runs of `generate_primitive_lef`:
This is a failure:
[code]
and this one is okay:
[code]

[2022-01-07 01:18] Lastdayends commented on #901
Good. Thanks for the update!

[2022-01-07 20:49] stevenmburns opened #911 "Switch Capacitor Filter has routing errors"
One of our driving testcases is completing with routing failures. We should fix these.
To duplicate, try:
[code]

[2022-01-14 23:28] soneryaldiz commented on #561
This issue is stale and no changes needed.

[2022-01-14 23:28] #561 closed

[2022-01-14 23:29] soneryaldiz commented on #492
This issue is stale and no longer applicable.

[2022-01-14 23:29] #492 closed

[2022-01-14 23:29] soneryaldiz commented on #582
This issue is stale.

[2022-01-14 23:29] #582 closed

[2022-01-14 23:31] soneryaldiz commented on #609
SymmetricBlocks meets the need.

[2022-01-14 23:31] #609 closed

[2022-01-14 23:33] soneryaldiz commented on #612
This issue is complete: Boundary, AspectRatio constraints implemented.

[2022-01-14 23:33] #612 closed

[2022-01-14 23:33] soneryaldiz commented on #643
This issue is stale.

[2022-01-14 23:33] #643 closed

[2022-01-14 23:35] soneryaldiz commented on #887
This is complete.

[2022-01-14 23:35] #887 closed

[2022-01-14 23:36] soneryaldiz commented on #803
This issue is completed.

[2022-01-14 23:36] #803 closed

[2022-01-17 00:03] stevenmburns commented on #901
Fixed by #910

[2022-01-17 00:03] #901 closed

[2022-01-17 15:32] kkunal1408 commented on #859
Are these separate ports from the D, G, S, B? If yes I can pass these as constraints to the primitives?

[2022-01-17 15:42] #542 closed

[2022-01-17 15:46] kkunal1408 commented on #427
included in  #552

[2022-01-17 15:46] #427 closed

[2022-01-17 15:53] kkunal1408 commented on #222
We have merged the initial part of using specific models file.
For adding more terminal primitives we can modify the base models for specific PDKs.

[2022-01-17 15:53] #222 closed

[2022-01-18 13:41] powergainer opened #928 "Using ALIGN for VCOs/PLL subcircuits"
Hello,
Please excuse if this is not the correct place to ask this but I wasn't sure how to contact the repo owners. I am working on some VCO / PLL design in Sky130 and I would like to know 1) whether I can use this ALIGN software to generate a layout for a VCO circuit and other PLL subblocks like the CP etc and 2) maybe there is something I could contribute to this repo while trying to do so?
I ha

[2022-01-18 18:43] soneryaldiz commented on #859
@kkunal1408 , we are addressing this issue by preprocessing the netlist. Therefore, no changes are required on ALIGN for now.

[2022-01-18 18:43] #859 closed

[2022-01-18 19:14] soneryaldiz commented on #850
Closing this issue as it is not considered critical.

[2022-01-18 19:14] #850 closed

[2022-01-18 19:15] soneryaldiz commented on #821
This issue is addressed in #823.

[2022-01-18 19:15] #821 closed

[2022-01-18 19:15] soneryaldiz commented on #818
Not critical for now.

[2022-01-18 19:15] #818 closed

[2022-01-18 19:18] soneryaldiz opened #929 "SymmetricBlock: Harden"
Optionally disable mirroring as part of this constraint definition

[2022-01-18 19:21] #608 closed

[2022-01-18 19:23] soneryaldiz commented on #645
This issue is not critical.

[2022-01-18 19:23] #645 closed

[2022-01-18 20:38] kkunal1408 commented on #876
Use generator constraint to generate primitive parameters.

[2022-01-18 21:49] AmrMohamedRashed commented on #898
Hi @kkunal1408
1. I am using my own example a double tail sense amplifier with Bulk65nm_Mock_PDK
2. I am controlling Guard Ring width by changing activebWidth
{
            "Layer": "Active",
            "GdsLayerNo": 52,
            "GdsDatatype": {
                "Draw": 0
            },
	    "active_enclosure": 42,
            "activebWidth": 168,
            "activebWidth_H": 180,
	    "activ

[2022-01-18 22:12] kkunal1408 commented on #898
@AmrMohamedRashed That's great. If you can add a pull request with your circuit example, I can try to debug the symmetry constraints.

[2022-01-18 22:19] AmrMohamedRashed commented on #898
@kkunal1408 okay I will do and I will tag you.
thank you.

[2022-01-18 22:19] #898 closed

[2022-01-18 22:35] arvuce22 commented on #898
@kkunal1408 @AmrMohamedRashed
I have added the double tail sense amplifier in #917: https://github.com/ALIGN-analoglayout/ALIGN-public/tree/fix/bulkPDK/examples/double_tail_sense_amplifier
@AmrMohamedRashed you can check the example and change it if required

[2022-01-19 00:34] soneryaldiz commented on #676
Completed.

[2022-01-19 00:34] #676 closed

[2022-01-19 23:35] kkunal1408 commented on #898
@AmrMohamedRashed Can you check the layout with the updated master? This branch will also work as I merged master in this branch? You would need one more constraint for the layout to be perfectly symmetric.
{"constraint": "MergeParallelDevices", "isTrue": false}.
In the default flow, we merge parallel devices for area optimization. In your case, the layout looks better without merging the tail tra

[2022-01-19 23:54] kkunal1408 opened #932 "test coverage is not reported due to error"
In the master telescopic_ota_guard_ring is not running due to which no coverage report is being generated.

[2022-01-20 00:15] stevenmburns commented on #932
We are seeing coverage reports if though it is not running.
Here is the latest:

https://44999-177476440-gh.circle-artifacts.com/0/coverage-reports/python/index.html

From: Kishor Kunal ***@***.***>
Sent: Wednesday, January 19, 2022 3:55 PM
To: ALIGN-analoglayout/ALIGN-public ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [ALIGN-analoglayout/ALIGN-public] test coverage is not reported due to er

[2022-01-20 00:25] kkunal1408 commented on #932
Got it. Thanks :)

[2022-01-20 00:25] #932 closed

[2022-01-20 01:19] stevenmburns opened #933 "Exception during error reporting when not satisfying placement constraints."
@parijatm We encountered this during a previous PR. The block is not satisfying a Aspect Ratio constraints but fails without giving an error message. Can be duplicated using:
[code]
The error is this:
[code]
It seems that `elements` does not exist in `VerilogJsonModule`. I don't think it ever should unless it is being added by some error checking code. I don't know what `elements` would correspond

[2022-01-20 19:27] arvuce22 commented on #204
Working on it in #937

[2022-01-20 19:29] arvuce22 commented on #218
Resolved in #830

[2022-01-20 19:29] #218 closed

[2022-01-20 19:32] arvuce22 commented on #290
This is work in progress.

[2022-01-20 19:35] arvuce22 commented on #346
Same as in #290 and #204.

[2022-01-20 19:35] #346 closed

[2022-01-20 19:39] arvuce22 commented on #454
@kkunal1408 This needs a discussion: whether that big single cap is used (generally unit cells are connected to implement a larger cap; PDKs does not support)

[2022-01-20 19:43] arvuce22 commented on #290
Same as in #661

[2022-01-20 19:43] #290 closed

[2022-01-20 19:45] arvuce22 commented on #412
Included in issue #446

[2022-01-20 19:45] #412 closed

[2022-01-20 19:50] arvuce22 commented on #650
@kkunal1408 We have fixed most of it in #870.  Do we need "unit_size_nmos" and "unit_size_pmos" values?

[2022-01-20 19:52] arvuce22 commented on #855
Assigned to @arvuce22

[2022-01-20 21:48] kkunal1408 commented on #650
@arvuce22 , @meghna We would need this to check if nfin defined in netlist < unit_size_mos. We can rename this to something which would make more sense.

[2022-01-20 21:51] kkunal1408 commented on #454
@arvuce22 sure. Then can we have a parameter from PDK layers.json on what size it is supported?

[2022-01-20 22:16] arvuce22 commented on #454
@kkunal1408 yes, we can add max size for caps and resistance (similar to we have for nfins: "max_nfin_mos")

[2022-01-20 22:22] arvuce22 commented on #650
@kkunal1408 @meghna09 Currently, we have four parameters in 'layers.json': "unit_size_nmos", "max_size_nmos", "max_size_pmos", "unit_size_pmos". Instead of these we can have two parameters "unit_size_mos" and "max_size_mos"

[2022-01-20 22:38] meghna09 commented on #650
@arvuce22  max_size_mos would represent the cell height? What does unit_size_mos imply?

[2022-01-20 22:40] arvuce22 commented on #650
@meghna09 We will remove "cell height", and "max_size_mos" will define maximum number of fins in a transistor (this is a limit from pdk)

[2022-01-21 18:31] meghna09 commented on #650
@arvuce22 is having cell height and max_size_mos (limit from pdk) more suitable than unit_size_mos? We can discuss this in our meeting.

[2022-01-21 18:33] parijatm commented on #204
@arvuce22 to meet with @soneryaldiz & @parijatm

[2022-01-21 18:38] parijatm commented on #363
Can be handled as a netlist pre-processing step. Not part of ALIGN for now.

There is value in doing this if we do sizing + layout generation for design space exploration. Issue can be re-opened once we have a driving use-case.

[2022-01-21 18:38] #363 closed

[2022-01-21 18:53] parijatm commented on #446
Off-grid issues makes this a PDK specific task

@srini229 already has a script to generate pin /  blockage information from GDS. Follow up items:
- [ ] Check this into master under scripts
- [ ] Please also add the generated output and include that in the flow
- [ ] Apply to multiple PDKs and identify common code

Note: We already have some hand written ones here:
https://github.com/ALIGN-analogla

[2022-01-21 19:03] parijatm commented on #454
the max_* parameters can be used as a check (throw an assertion if something higher arrives) but this should be a task handled by the person writing the netlist.

If any automatic breaking up is needed, should be done as a netlist pre-processing step.

[2022-01-21 19:24] meghna09 commented on #541
@arvuce22 the input to the capacitor generator should include width, length, and multiplier if a PCell is not being used.

[2022-01-21 19:24] arvuce22 commented on #471
Same as in #811

[2022-01-21 19:24] #471 closed

[2022-01-21 19:29] parijatm commented on #455
Not faced any issues recently. Switched capacitor filter is part of test suite.

[2022-01-21 19:29] #455 closed

[2022-01-21 19:34] parijatm commented on #468
Need some mechanism to control what files from the python side so that we can avoid copying files over.

Basically the directory structure is dictated by the C++ code right now and needs relaxation.

[2022-01-21 19:36] parijatm commented on #532
Let's try to exceed 60% code coverage by 1/28/2022.

Try to split up into multiple PRs.

[2022-01-21 19:50] parijatm commented on #545
Running static checks using flake8 locally.

Codacy does do more linting on the C++ side so it would be nice to have.

[2022-01-21 19:52] parijatm commented on #553
Will likely be part of a bigger GUI effort. Closing this out for now.

[2022-01-21 19:52] #553 closed

[2022-01-21 19:54] parijatm commented on #619
Pointer has been updated. No download issues since the move to new boost repo

[2022-01-21 19:54] #619 closed

[2022-01-21 19:57] parijatm commented on #650
@arvuce22 to lead discussion on this

[2022-01-21 20:00] parijatm commented on #661
@stevenmburns will help with system level integration once the capacitor generator is implemented in Python.

[2022-01-21 20:01] parijatm commented on #695
Progress has been made but there are a few that still need to be looked at.

Excluded test list is now in test_integration.py

[2022-01-21 20:02] parijatm commented on #695
Note: If we don't want those examples, we should remove from examples directory altogether. The exclusion in the python file should be purely temporary while we work on them.

[2022-01-21 20:03] parijatm commented on #718
Addressed by above mentioned PRs

[2022-01-21 20:03] #718 closed

[2022-01-21 20:05] parijatm commented on #729
Superseded  by #876

[2022-01-21 20:05] #729 closed

[2022-01-21 20:10] parijatm commented on #756
This should be addressed once #929 gets addressed

In general, all constraints need to be hardened.

[2022-01-21 20:10] #756 closed

[2022-01-21 20:12] parijatm commented on #776
We didn't previously have a flow to bring in a placement and use just the router. But we do now.

Please let us know if this is still a requirement @alecadair and we can help you get it up and running.

[2022-01-21 20:18] parijatm commented on #777
Step 1: Remove debug messages that were purely used when developing the code
Step 2: Look at per module / per source file enable / disable flags

[2022-01-21 20:19] parijatm commented on #846
Addressed by #799

[2022-01-21 20:19] parijatm commented on #786
Addressed by #799

[2022-01-21 20:19] #786 closed

[2022-01-21 20:20] parijatm commented on #787
Awaiting user input. Please reopen if needed @mt19146

[2022-01-21 20:20] #787 closed

[2022-01-21 20:24] parijatm commented on #793
Virtual hierarchy is the only thing we are talking about here now (power pin hack has been moved to pnr where it is needed).

Renaming task to better reflect new mission

[2022-01-21 20:36] parijatm opened #940 "Handle SPICE Case Insensitivity"
Options:
1. Assume SPICE IS Case Sensitive for ALIGN
2. Coerce everything to a given case
3. Throw error for mixed-case
4. Do case-insensitive operations (hard currently because of C++)

Needs to be applied to:
- Netlist
- Constraints
- Pdk

[2022-01-21 20:36] kkunal1408 commented on #846
All flags can be combined in one constraint.

[2022-01-21 20:39] parijatm commented on #805
Superseded by #929

[2022-01-21 20:39] #805 closed

[2022-01-21 20:49] parijatm commented on #819
Should be an ongoing activity. Expecting significant progress by 1/28/2022. Closing

[2022-01-21 20:49] #819 closed

[2022-01-21 20:54] parijatm commented on #842
May want to explore sparser grids to handle this

[2022-01-21 21:00] parijatm commented on #854
Issue was for information only. Closing

[2022-01-21 21:00] #854 closed

[2022-01-21 21:05] parijatm commented on #855
Superseded by #876

[2022-01-21 21:05] #855 closed

[2022-01-21 21:06] parijatm commented on #860
Superseded by #876

[2022-01-21 21:06] #860 closed

[2022-01-21 21:13] arvuce22 commented on #874
ASAP7 repo: https://github.com/ALIGN-analoglayout/ALIGN-pdk-asap7
Sky130 repo: https://github.com/ALIGN-analoglayout/ALIGN-pdk-sky130

[2022-01-21 21:17] parijatm commented on #933
Addressed by #934

[2022-01-21 21:17] #933 closed

[2022-01-21 22:09] stevenmburns commented on #911
Resolved by checkins before #941
#941 makes sure CI checks that it continues two work.

[2022-01-21 22:09] #911 closed

[2022-01-22 00:19] soneryaldiz commented on #876
@parijatm , @kkunal1408, @arvuce22 , is this interface

[code]

Notes:
- circuit must match a template in basic_templates.sp (non-hierarchical templates) supported by the PDK
- each element in the circuit points is an instance of a Model not subcircuit
- circuit may have constraints that are soft and intended for primitive generator
- each key in variants is a concrete name

[2022-01-22 17:05] #454 closed

[2022-01-22 20:24] #650 closed

[2022-01-22 22:26] arvuce22 opened #942 "Currently Master is failing: I am working on it and I will fix it as soon as possible"
@stevenmburns @kkunal1408 @parijatm @soneryaldiz

[2022-01-23 19:08] #942 closed

[2022-01-25 06:30] deepwonwoo opened #947 "circuit with TFT"
I'm working with netlist with TFT(Thin-film-transistor liquid-crystal display) rather than with finFET .
But I found out that ALIGN do not support Tr having no parameter "number of fins" and "number of fingers".

I there any way to apply circuit like bellow?
"""""""""""""""""""""""""""""""""""""""""""""""""""""""

*MX Drain Gate Source Model Length Width

Mbv Q2 VEL EQ SWS_G L=6u W=7u
M6 EMO_N EQ

[2022-01-25 08:06] kkunal1408 commented on #876
If we want to generate a single nmos, do we still need to pass a circuit definition?

[2022-01-26 01:29] kkunal1408 commented on #876
Thanks for all your time today. I appreciate multiple thoughts on the problem.  We still need more discussion on this and I am trying to summarize our discussion here from my point of view.

Original problem: [generate_primitive_lef](https://github.com/ALIGN-analoglayout/ALIGN-public/blob/master/align/primitive/main.py) definition looks hacky. We have multiple if-else statements inside it based on

[2022-01-26 02:00] arvuce22 opened #950 "Incorrect GdsDatatype for metal/via draw layers"
@Lastdayends

PnR assumes "GdsDatatype" equal to 0 for drawing metal layers and Vias (PnR does not take the values for layers.json). This result in missing layer issues when we import the layouts in Virtuoso. I have created #949 to recreate the issues: In this branch I have changed the "GdsDatatype" for M3 and V2 (instead of "Draw": 0, I have changed it to "Draw": 20), however, the PnR uses "Draw"

[2022-01-26 02:58] soneryaldiz commented on #876
@kkunal1408 , thank you for posting the minutes here.

[2022-01-26 04:33] soneryaldiz opened #951 "Placement Runtime with PlaceOnGrid Constraints"
PlaceOnGrid constraints significantly slow down placement.

[code]

[2022-01-26 04:34] soneryaldiz commented on #951
@854768750 , could you please look into the root cause?

[2022-01-26 14:30] 854768750 commented on #951
I will look into this.

[2022-01-27 00:10] soneryaldiz commented on #951
@854768750 , please try on #954 branch as the constraints are only generated for PMOS on master branch.

[2022-01-27 02:17] arvuce22 commented on #928
@powergainer We are working on Sky130 integration in the ALIGN flow (https://github.com/ALIGN-analoglayout/ALIGN-pdk-sky130). It would be helpful if you can add your netlists to the "examples" directory of the following repo:  https://github.com/ALIGN-analoglayout/ALIGN-pdk-sky130

[2022-01-27 14:48] 854768750 commented on #777
This is solved in #948 . While there are many debug statement from the checker like "align.pnr.placer".

[2022-01-28 00:17] stevenmburns opened #955 "Guard ring nightly test failing"
@arvuce22 @Lastdayends @kkunal1408 Can we make this test work? We want coverage for the guard ring C++ code and now if fails in the compiler:
[code]
You'll want to cherry pick this commit to help with the broken error message.
[97cc10c1461501504b919a74bf3fb5aa145cd954](https://github.com/ALIGN-analoglayout/ALIGN-public/pull/944/commits/97cc10c1461501504b919a74bf3fb5aa145cd954)

[code]

[2022-01-28 00:44] kkunal1408 commented on #955
Sure I will look into it.

[2022-01-28 04:59] #950 closed

[2022-01-28 17:20] kkunal1408 opened #958 "Reduce CI-resourse"
In the last 26 CI runs for master, there were some failures due to runtime. This is a summary table for this. Can we reduce the number of tests to reduce the CI resource usage?
<html>
<body>
<google-sheets-html-origin>

Total | Actual failures | Pass | Tests run time out | Wheel resource timeout
-- | -- | -- | -- | --
26 | sc_dc_dc_converter, Multiple design failures | 14 | 6 | 4

</body>
</html>

[2022-01-28 17:34] kkunal1408 commented on #958
@stevenmburns and @parijatm any idea on what would be a better way to reduce the CI resources?

[2022-01-28 17:54] kkunal1408 opened #959 "Add correct testcases from UW, USC, and, UT-austin"
# Sources

POSH teams: https://github.com/aolofsson/POSH
USC: https://github.com/USCPOSH
UW: https://github.com/uwidea
UT-austin: https://github.com/magical-eda/MAGICAL-CIRCUITS
Efabless: https://www.efabless.com/projects/public

[2022-01-28 18:53] kkunal1408 commented on #959
# UW: https://github.com/uwidea
Sized netlists:
1. https://github.com/uwidea/UW-IDEA_AnalogTestCases/tree/master/Module/5b_ADC_v2
2. https://github.com/uwidea/UW-IDEA_AnalogTestCases/tree/master/Module/BTSW100
3. https://github.com/uwidea/UW-IDEA_AnalogTestCases/tree/master/Module/VCMP_2stg
4. https://github.com/uwidea/UW-IDEA_AnalogTestCases/tree/master/Module/VCMP_fast
5. https://github.com/uwid

[2022-01-28 19:26] kkunal1408 commented on #959
# USC: https://github.com/USCPOSH
Sized netlists:
1. https://github.com/USCPOSH/AMPSE/tree/master/Block/ADC/SAR_ADC/PTM45_SAR_ADC_7.10.2019
2. https://github.com/USCPOSH/AMPSE/tree/master/Block/ADC/VCO_ADC/TSMC65_VCO_ADC_1.3.2020
3. https://github.com/USCPOSH/AMPSE/tree/master/Block/amplifier (PTM45)
4. https://github.com/USCPOSH/AMPSE/tree/master/Block/Clock_Divider/TSMC65_Clock_Divider_1.3.2020

[2022-01-28 19:50] kkunal1408 commented on #959
# UT-austin: https://github.com/magical-eda/MAGICAL-CIRCUITS

With sizing and test-benches and no measure commands (PDK not clear)
1. https://github.com/magical-eda/MAGICAL-CIRCUITS/blob/master/benchmark_circuits/ADC/CTDSM_CORE_NEW.sp
2. https://github.com/magical-eda/MAGICAL-CIRCUITS/blob/master/benchmark_circuits/ADC/CTDSM_TOP.sp
2. https://github.com/magical-eda/MAGICAL-CIRCUITS/blob/master/ben

[2022-01-28 21:37] kkunal1408 commented on #959
# SKY130

All details
1. https://github.com/Gklkrshna/Phase-locked-loop-IC-design#frequency-divider-circuit
2. https://github.com/pradeepsk13/vsdsram_sky130_1.8V/tree/main/Simulation
3. https://github.com/Deepak42074/vsdsram_sky130

[2022-02-01 18:07] #532 closed

[2022-02-02 04:04] kkunal1408 opened #960 "generate constraint for instances"
In the current framework generate constraint is associated with a subcircuit. Can we associate it with an instance?

[2022-02-02 04:09] kkunal1408 opened #961 "reimplement generate_abstract_name"
Generates unique names for any instance.

[2022-02-03 02:52] #875 closed

[2022-02-03 05:39] #955 closed

[2022-02-03 20:30] 854768750 commented on #951
The problem is here that the ilp solver cannot generate a solution as the geometric constraints conflict.
Block 1 has height 2520, block 2 has height 5040, and they are sympair (their centers have the same y value).
Place on grid wants them to be on pitch=2520. And this is impossible.
The ILP solver should exit with infeasible status but did not.

[2022-02-03 21:05] soneryaldiz commented on #951
@854768750 , great finding. Which two block are these?

[2022-02-03 21:34] 854768750 commented on #951
X_MN11_MP13 and X_MN12_MP14, while different instance indices

I would like to validate the sequence pair before running ILP.

[2022-02-03 22:02] 854768750 commented on #951
@srini229 Just let you know we were talking about this issue. The ILP solver does not stop when there is no feasible solution.

[2022-02-04 03:32] soneryaldiz commented on #951
Added a new test in #965 with properly setup constraints. It takes about:
~ 25 secs w/o PlaceOnGrid
~ 35 secs w/. PlaceOnGrid

[2022-02-04 03:34] #951 closed

[2022-02-04 05:02] srini229 opened #966 "PlaceOnGrid is not OR'ing offset constraints"
@854768750 As per my understanding of the PlaceOnGrid constraint only one of the ORed offset constraints need to satisfied.
The code below is adding a constraint for each of the offset values; meaning all of them have to be simultaneously satisfied. https://github.com/ALIGN-analoglayout/ALIGN-public/blob/bc7cc48a853bba923af02d1bd4676c98aa266331/PlaceRouteHierFlow/placer/ILP_solver.cpp#L1821-L1832

[2022-02-04 12:19] 854768750 commented on #966
please see the next 7 lines.

---Original---
From: ***@***.***&gt;
Date: Thu, Feb 3, 2022 23:02 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: [ALIGN-analoglayout/ALIGN-public] PlaceOnGrid OR'ing of offset constraints (Issue #966)

@854768750 As per my understanding of the PlaceOnGrid constraint only one of the ORed offset constraints need to satisfied.
 The code below is adding

[2022-02-04 13:57] 854768750 commented on #966
please also see
https://github.com/ALIGN-analoglayout/ALIGN-public/blob/bc7cc48a853bba923af02d1bd4676c98aa266331/PlaceRouteHierFlow/placer/ILP_solver.cpp#L1688-1707

[2022-02-04 16:27] srini229 commented on #966
@854768750 the next seven lines are just implementing
&Sigma; select<sub>i</sub> = 1
select<sub>i</sub> = {0,1}

The equation:
xoffset<sub>combined</sub> = Σ select<sub>i</sub> * xoffset<sub>i</sub>
is not implemented.

[2022-02-04 16:51] 854768750 commented on #966
@srini229 you are right. Thanks. Please see https://github.com/ALIGN-analoglayout/ALIGN-public/pull/965/commits/eec4ed3cdaea5060c7bd4857ddc49a5144a8497d

[2022-02-04 17:24] soneryaldiz commented on #966
@srini229 , I pushed a commit to #965 which creates multiple ored_terms. Try: `pytest test_placement_grid.py::test_tia_on_grid`

Yet the test passes and does not demonstrate the issue.

[2022-02-04 17:27] 854768750 commented on #966
Yes I just fixed the error that @srini229 mentioned.

[2022-02-04 17:27] soneryaldiz commented on #966
It looks like @854768750 fixed it before I get to it.
Regardless, relying on environment variables to turn on/off experimental features turns out to be dangerous as the variable is preserved across tests. Suggestions are welcome.

[2022-02-04 17:49] soneryaldiz commented on #966
monkeypatch does the job! @srini229 , shall we close this issue now?

[2022-02-04 23:04] #966 closed

[2022-02-09 18:22] soneryaldiz commented on #755
a gentle nudge :)

[2022-02-17 21:25] 854768750 opened #982 "Exclude net from Placement optimization"
A new constraint: zero-weighted net constraint/weighted net constraint
@soneryaldiz Do you want to add this new feature in placer?

[2022-02-18 19:14] soneryaldiz commented on #982
@854768750 , we may not need a new feature based on the recent discussions.
- What happens when `criticality` in `NetConst` is set to zero?
- What is the default value of `criticality` (when not specified)?

[2022-02-18 19:51] 854768750 commented on #982
`NetConst` is not implemented. It defines order of net routing.

[2022-02-18 21:03] soneryaldiz commented on #982
Okay, the answer is in `write_constraint.py`.
@854768750 , is `CritNet` implemented? what is the default `priority` of a net?

[2022-02-18 21:05] 854768750 commented on #982
There is no `CritNet`.

[2022-02-18 23:39] kkunal1408 commented on #982
Its defined in PnRDB/ReadConstraint.cpp
"""
else if (constraint["const_name"] == "CritNet") {
      for (int i = 0; i < (int)node.Nets.size(); i++) {
        if (node.Nets.at(i).name == constraint["net_name"]) {
          node.Nets.at(i).priority = constraint["priority"];
          break;
        }
      }
"""

[2022-02-21 17:08] 854768750 commented on #982
It is not supported in the later flow. If it is required, please let me know.

[2022-02-22 17:30] 854768750 commented on #982
It is fine.

---Original---
From: ***@***.***&gt;
Date: Tue, Feb 22, 2022 11:27 AM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [ALIGN-analoglayout/ALIGN-public] Exclude net from Placementoptimization (Issue #982)

@854768750 , thank you for the clarification. I think we should continue to retire any dead code that is not completed.

Reducing/zeroing the priority of select net

[2022-02-25 02:08] kkunal1408 opened #990 "merge gen_param into mos generator"
Mos generator should be able to work directly from primitive subcircuit definition Instead of creating another dictionary for parameters using gen_param in gen_param.py

[2022-02-25 03:34] kkunal1408 opened #991 "replace circuit match with guid"
When creating multiple instances of DP_NMOS we create DP_NMOS_I2 if DP_NMOS_I1 is existing. For this, we do full subcircuit matching, which we do not need to do if we use a guid.

[2022-02-25 07:58] kkunal1408 opened #992 "Simplify group cap constraint handling"
Move hacks outside compiler

[2022-03-01 03:26] #960 closed

[2022-03-01 06:58] kkunal1408 commented on #961
merged in #964

[2022-03-01 06:58] #961 closed

[2022-03-01 07:02] kkunal1408 opened #997 "read and write schema library from file"
Compiler dumps schema-based primitive library into a file "__primitives_library__.json" which is read by the primitive generator in align/main.py for entry point two. Can we simplify the read and write using Pydantic parse_raw?

[2022-03-01 21:59] stevenmburns opened #998 "Fix errors in switched capacitor filter"
We have two kinds of error showing up in switched_capacitor_filiter.
- [x] A routing error (open)
- [x] A missing pin in a primitive @kkunal1408

[code]

To reproduce:
[code]
We get this log:
[code]

[2022-03-01 22:10] kkunal1408 commented on #998
@stevenmburns The missing pin error can be waived:
This is because one aspect ratio of SCM_NMOS is too small to generate that pin. We have another SCM_NMOS with a different aspect-ratio and correct pins which get used during PnR.
@arvuce22 please correct me if you have anything else to add or can you fix the code to not generate this wrong primitive?

[2022-03-01 22:57] stevenmburns commented on #998
@arvuce22 We can really generate a wrong primitive. A primitive needs to have the pins is supposed to have. If it is ill formed in some way, we need to remove it before when generate a LEF file.

[2022-03-02 02:31] stevenmburns commented on #998
@Lastdayends Can you look at the routing open?

[2022-03-02 03:32] Lastdayends commented on #998
@stevenmburns Will look into the case.

[2022-03-02 17:46] #991 closed

[2022-03-07 17:46] stevenmburns commented on #998
@arvuce22 Any progress on removing non-fully formed primitives from consideration early in the flow. This switched_capacitor_filter example provides a good these case.

[2022-03-07 17:47] stevenmburns commented on #998
@Lastdayends Any progress on this switched_capacitor_filter routing failure.

[2022-03-07 18:16] arvuce22 commented on #998
@stevenmburns I will fix it by the end of this week.

[2022-03-07 18:46] Lastdayends commented on #998
@stevenmburns

The open is due to the error of missing pin in the lef file. Once the error is fixed. The open should be fixed.

[2022-03-07 20:36] stevenmburns commented on #998
Which pin is missing? Is it missing from the LEF file corresponding to the CC capacitor or is it something else?

From: Yaguang Li ***@***.***>
Sent: Monday, March 7, 2022 10:46 AM
To: ALIGN-analoglayout/ALIGN-public ***@***.***>
Cc: Burns, Steven M ***@***.***>; Mention ***@***.***>
Subject: Re: [ALIGN-analoglayout/ALIGN-public] Fix errors in switched capacitor filter (Issue #998)

@stevenmburns<

[2022-03-07 20:42] Lastdayends commented on #998
@stevenmburns

Block X_M4_M5 pin DB not found in lef file. It should be a pin in the primitive.

[2022-03-07 21:45] soneryaldiz opened #1009 "Does placement take PortLocation constraints into account?"
PortLocation constraint could be leveraged during placement as it impacts the wire length for the specified port.

[2022-03-10 22:24] soneryaldiz opened #1014 "Retire py37 and manylinux2010 from CI merge and checkin to free up resources"

[2022-03-10 22:56] kkunal1408 commented on #695
These examples have been removed. Will add the right test cases through PR #959

[2022-03-10 22:56] #695 closed

[2022-03-10 22:58] kkunal1408 commented on #1014
Linked issue #958

[2022-03-10 22:58] #958 closed

[2022-03-10 23:01] kkunal1408 commented on #647
From other discussion:
	templates.sp: * @: Generator(name="mos", params=[])
	const.json:   * @: Generator(instances=["mn0"], params=[insert_dummy, share_diff])
	const.json:   * @: Generator(instances=["mn1", "mn2"], params=[nrow, id, sparse])
		combine template and const where const has precedence

	What happens with a generator constraint?
		Generator(instances=["mn1", "mn2"], params=[nrow, id, s

[2022-03-11 00:17] soneryaldiz commented on #647
@kkunal1408 , is there a question?

[2022-03-11 00:43] kkunal1408 opened #1016 "optimize compiler flags"
DoNotUseLib, DoNotIdentify, and ClkPorts are compiler configuration handles but are kept as separate constraints.  Can we merge them to ConfigureCompiler?

[2022-03-11 01:08] kkunal1408 commented on #647
No, I copy-pasted the future work which we identified from #964 . I think both have some relation. We can brainstorm both together.

[2022-03-11 01:14] #846 closed

[2022-03-11 23:16] soneryaldiz commented on #1014
Completed.

[2022-03-11 23:16] #1014 closed

[2022-03-15 03:46] arvuce22 commented on #998
@Lastdayends I have resolved the pin issues in #1021. Can you check this?

[2022-03-15 03:56] Lastdayends commented on #998
@arvuce22

Will check it.

[2022-03-17 22:35] soneryaldiz opened #1030 "Improving Floorplan Efficiency"
[code]
A floorplan constraint as shown above creates `x*y + y*z` vertical ordering constraints:
[code]

The same intention could be specified with much fewer constraints if we could introduce two auxiliary variables that represent two horizontal lines. For example, a new constraint can be used to define these variables:
[code]
and the number of constraints reduce from `x*y + y*z` to `x + 2*y + z`:

[2022-03-18 02:44] srini229 commented on #1030
@soneryaldiz We don’t need to translate the floor plan constraint to pairs of ordering constraint if we come up with a constructive way to generate sequence pairs that honor ordering constraints. I can work on the constructive approach.

[2022-03-18 02:45] srini229 commented on #1030
It would indirectly implement the cut line constraint.

[2022-03-20 03:04] yangjz7035 opened #1036 "what is the version of CMake"
what is the version of CMake (1) Policy CMP0115 is not set: Source file extensions must be explicit. (2) Policy CMP0048 is not set: project() command manages VERSION variables. (3) Update the VERSION argument <min> value or use a ...<max> suffix to tell
          CMake that the project does not need compatibility with older versions.

[2022-03-20 03:08] yangjz7035 commented on #1036
More information: I use the windows WSL and the Ubuntu 18.04

[2022-03-20 11:08] #1036 closed

[2022-03-22 15:20] LAD021 commented on #811
Hello,
I would like to know whether any updates of docs is available now for mapping ALIGN to new PDK.
Are python and json files of PDK all need to be generated?
I noticed that some .lef with .json files are generated in some intermediate steps.
Can I use my .lef files to continue the flow by translating them to .json format? And is there any guide too?

Thank you in advance.

[2022-03-22 19:21] soneryaldiz commented on #1030
@srini229 , here is more motivation for explicitly handling floorplan constraints, or at least,  checking for existence of blocks that are above (left) of all other blocks:

Suppose that n blocks are broken into 3 regions r1, r2 and r3 with n1, n2 and n3 blocks in each region respectively (i. e. n1 + n2 + n3 = n). These vertical regions basically imply vertical ordering constraints where each bloc

[2022-03-22 23:39] soneryaldiz commented on #1030
When the (horizontal) order flag is set for a floorplan constraint, the search space reduces to a single feasible sequence pair. For example, ABCDE, DECAB is the only sequence pair that satisfies the constraint:
[code]

[2022-03-23 01:34] srini229 commented on #1030
@soneryaldiz I'll work on integrating this into the enumerative placer. It should be straightforward without the symmetry constraints. The topological sorting routine can be modified to accommodate this constraint.

[2022-03-23 03:32] soneryaldiz commented on #1030
@srini229 , let me know if you want to talk about this briefly. The key observation: When there is a floorplan constraint that includes all instances in a circuit, then the sequence pair search space reduces significantly and this reduces subspace can be explored (perturbed) more efficiently. This constraint could easily be applied to most analog circuits by simply defining two regions: all pmos a

[2022-03-24 00:12] stevenmburns opened #1037 "Runtime Improvements are needed"
I'm using telescopic_ota as a baseline.
Here is a flame graph from vtune:
![Screenshot from 2022-03-23 16-59-10](https://user-images.githubusercontent.com/1512574/159815925-5d34b8d8-79e8-4d1e-9d01-7192ba0e4ccd.png)

@soneryaldiz @srini229 @854768750 A lot of time is being spent in the ILP within the placer. There is some time wasted in spdlog that I will try to fix.

[2022-03-24 00:19] soneryaldiz commented on #1037
This is very insightful, thank you! `spdlog::logger` is also non-negligible.

[2022-03-24 00:48] soneryaldiz commented on #1030
Notes from discussion:

- [ ] Retire KeepOrdering
- [ ] Construct an initial feasible solution using the topologically sorted H and V constraint graphs
- [ ] Refactor Perturbation choices to be ordering aware

[2022-03-24 11:34] kkunal1408 opened #1038 "DP not being identified in single ended OTA"
def test_identify_differential_pair():
    name = f'ckt_{get_test_id()}'
    netlist = ota_six(name)
    constraints = [{"constraint": "PowerPorts", "ports": ["VCCX"]},
                   {"constraint": "GroundPorts", "ports": ["VSSX"]},
                   {"constraint": "DoNotUseLib", "libraries": ["SCM_PMOS"]}]
    example = build_example(name, netlist, constraints)
    cktlib, prim_lib = compil

[2022-03-24 15:55] srini229 commented on #1037
@stevenmburns I'm looking into the ILP solver to see for better build options that we can utilize. I'm also looking at other solvers by the same group.
For spdlog inside SeqPair::PerturbationNew, [these lines](https://github.com/ALIGN-analoglayout/ALIGN-public/blob/6f5665c8cd58421275dd359c624be07ecc03263f/PlaceRouteHierFlow/placer/SeqPair.cpp#L1270-L1274) in SeqPair.cpp are most likely the ones af

[2022-03-24 16:35] 854768750 opened #1039 "Is it possible to print the complete schemetic2layout command including args when running pytest?"
@soneryaldiz @stevenmburns It seems test cases in different folders are using different command line args. Is it possible to print the complete schemetic2layout command line? So that I can know which args are used when running standalone `schemetic2layout.py`

[2022-03-24 18:43] 854768750 commented on #1030
If there is a floorplan constraint that includes all instances in a circuit, does this mean there will be only one solution? Because the order of rows is determined and the order inside each row is also determined.

[2022-03-24 19:01] soneryaldiz commented on #1039
The command line arguments can simply be added to the LOG in cmdline.py. This gives you all the arguments which ever test is invoking the flow. Let me add this to the harden symmetry PR.

[2022-03-24 19:03] 854768750 commented on #1039
Link #929 , thanks @soneryaldiz

[2022-03-24 19:08] soneryaldiz commented on #1039
Pushed the change and closing the issue for now.

[2022-03-24 19:46] 854768750 commented on #1009
It is not considered now. We can add them. We can create a PR if needed.

[2022-03-24 19:47] 854768750 commented on #982
Solved in #1010

[2022-03-24 19:47] #982 closed

[2022-03-24 19:47] soneryaldiz commented on #1009
Yes, I will create that PR shortly. Let's first fix the ordering issue and finish hardening symmetry.

[2022-03-28 16:26] stevenmburns opened #1041 "Master currently failing CI"
This seems to be because of a test in `tests/pdk/finfet_pdk/test_placement_grid.py` taking a long time. I noticed this first by carefully examining the CI log which showed that this test started but didn't finish in a case where CI timedout.
To duplicate, try:
[code]
I'm getting:
[code]
This is likely to be slower if we run the test in`Debug` mode.

[2022-03-28 16:27] stevenmburns commented on #1041
@soneryaldiz What does this test do and can we make it take less time?

[2022-03-28 16:33] stevenmburns commented on #1041
Here is another run that took a 100 less seconds:
[code]

[2022-03-28 16:36] soneryaldiz commented on #1041
`test_cmp_on_grid` runs the flow on comparator with `PlaceOnGrid` constraints.

[2022-03-28 16:37] soneryaldiz commented on #1041
What is the runtime if we stop the flow before routing?

[2022-03-28 16:38] stevenmburns commented on #1041
Routing will take essentially zero time. This is all placement. I don't know about a logging contribution though. I'll run this through vtune.

[2022-03-28 17:26] stevenmburns commented on #1041
Here is the flame graph from VTUNE
![Screenshot from 2022-03-28 10-24-40](https://user-images.githubusercontent.com/1512574/160453497-33f35202-ad22-4467-886f-f70ce3667ec3.png)
All the time is spent in the ILP calls (2 secs in Perturb New, 3 secs in routing, ~400 sec in total)

[2022-03-28 17:28] soneryaldiz commented on #1041
Thanks @stevenmburns. I still prefer to keep this test as it is the only non-trivial test for PlaceOnGrid. I will try refactoring the test so that it does not take this long.

[2022-03-28 19:43] stevenmburns commented on #1041
There seems to be no substantial logger component (at least in the branch I'm on. I'll start a PR.)

[2022-03-28 21:01] soneryaldiz opened #1044 "Placement Efficiency with PlaceOnGrid Constraints"
For comparator circuit, placement runtime increases significantly (from seconds to tens of minutes) when there are PlaceOnGrid constraints. Test case: `tests/pdk/finfet_pdk/test_placement_grid.py::test_cmp_on_grid`

[2022-03-31 15:39] kkunal1408 opened #1048 "Create GDS from placement-verilog-json"
While using ALIGN as multiple entry and exit point, running it till the placement only creates placement Verilog JSON. How to create a GDS from this file?

[2022-03-31 16:10] stevenmburns commented on #1048
What do you want to do?
The test https://github.com/ALIGN-analoglayout/ALIGN-public/blob/master/tests/flow/test_flow.py shows how to run the flow one step at a time.
You should be able to run up to placement:
[code]
and then restart it to generate routing (with GDS.)
[code]

[2022-03-31 16:14] srini229 commented on #1048
@stevenmburns We added a script to generate GDS files from the placement verilog and leaf gds.json files. Please find the script in the attached branch. This will help eventually get rid of the .gds.json files. A final postprocess routine can generate the GDS files from the placement/routing json and leaf json files.

[2022-03-31 16:17] kkunal1408 commented on #1048
It was a request from another user. He wanted to use placement GDS.

[2022-03-31 19:44] #1048 closed

[2022-04-04 09:01] LAD021 opened #1051 "65nm examples"
Hello,
I need some help to get an example avaliable for 65nm PDK provided.
I have viewed all the `.sp` files in `./example `, and tried part of them, and all failed.
It seems most of the examples are for 14nm PDK because they have the parameter `nfin`.
Two of them without `nfin`
#### `mimo_bulk`
got errors as below
[code]
#### `test_vga`
got errors as below
[code]
I wonder whether there is an exam

[2022-04-06 19:30] #1051 closed

[2022-04-06 19:32] arvuce22 commented on #1051
@LAD021 You can check "five_transistor_ota_Bulk" example.

[2022-04-06 20:15] soneryaldiz opened #1055 "Floating Subcircuit Pins"
ALIGN flow throws an assertion if a subcircuit pin is not connected any instance within the subcircuit.

1. What is the key reason?
2. Could ALIGN quietly ignore floating pins from the hierarchy?

[2022-04-06 20:31] soneryaldiz commented on #1055
@kkunal1408 , if there is no significant reason, I can create a PR with a failing test to drive development.

[2022-04-06 21:20] soneryaldiz commented on #1055
@kkunal1408 , what if these pins are removed from the hierarchy so that PnR is never exposed to these?

[2022-04-06 21:31] kkunal1408 commented on #1055
It can be done, but that is more like modifying the netlist and in our current assumption we assume the designer has provided a correct netlist.

[2022-04-06 21:35] soneryaldiz commented on #1055
This is not really about correctness as a subcircuit definition with a floating pin is legal. This scenario happens on legacy schematics where a configuration pin that was used in the past is no longer needed. Removing this pin thru a deep hierarchy of cells is not a trivial task.

[2022-04-06 21:42] soneryaldiz commented on #1055
@Lastdayends , could PnR tolerate floating pins? It already does tolerate floating nets in a subcircuit. Could you please let us know about the complexity?

[2022-04-06 21:51] kkunal1408 commented on #1055
Yes in a schematic it's legal to keep a floating(it shows a warning) or you can connect to "noconn" to get rid of the warning. What do designers do with that in the layout?
Do not connect in the lowermost hierarchy or also keep it floating in the hierarchies above it?
If removing the pin and all corresponding nets till the top hierarchy is allowed I can do the modifications to remove the pin.

[2022-04-06 22:51] Lastdayends commented on #1055
@kkunal1408 @soneryaldiz

Do you mean a pin defined as a port of a subcircuit, but no internal net connects to that pin? May I see what kink of error?

[2022-04-06 23:11] soneryaldiz commented on #1055
I will start a PR shortly.

[2022-04-06 23:32] soneryaldiz commented on #1055
Please see #1058

[2022-04-07 17:08] arvuce22 commented on #928
@powergainer We have integrated Sky130 in the ALIGN in the following repo: https://github.com/ALIGN-analoglayout/ALIGN-pdk-sky130
Closing this issue for now. Please let us know if you face any issues.

[2022-04-10 15:03] powergainer commented on #928
Hi @arvuce22 I am getting some errors while installing ALIGN. I can attach the full Log if required, but the last lines of the error are like this:

`  × Building wheel for align (pyproject.toml) did not run successfully.
  │ exit code: 1
  ╰─> See above for output.

  note: This error originates from a subprocess, and is likely not a problem with pip.
  full command: /home/darunix/GitSandboxes/AL

[2022-04-11 17:30] arvuce22 commented on #928
@kkunal1408

[2022-04-11 19:34] soneryaldiz opened #1067 "Compiler Option To Remove Various Dummy Transistors"
Is it possible to add a new flag to `ConfigureCompiler` which removes all transistors as follow:
[code]

[2022-04-11 19:35] soneryaldiz commented on #1067
@kkunal1408 , is this something you could help with? If so, I can start a PR with tests.

[2022-04-12 17:04] kkunal1408 commented on #1067
i can start a PR.

[2022-04-13 20:16] arvuce22 commented on #928
@kkunal1408 @powergainer Kunal, Can you help in resolving ALIGN installation issue?

[2022-04-13 20:24] kkunal1408 commented on #928
Hi @powergainer
The failures can be due to any of the prerequisites not being installed properly. We would need more system info such as machine, Cmake and C++ versions. If you can share the log it will help us in debugging it.

Another installation method is to use already generated wheels. You can skip the wheel generation step by using this latest wheel for Python 3.7/3.8.
https://output.circle

[2022-04-15 16:01] srini229 opened #1070 "walrus assignment operator not available in python 3.7"
https://github.com/ALIGN-analoglayout/ALIGN-public/blob/0102908605baf1d16b803d971fea263cdd867ff8/align/schema/constraint.py#L1363

@soneryaldiz @kkunal1408
The := assignment operator is not available in python 3.7 but our [documentation](https://align-analoglayout.github.io/ALIGN-public/notes/installation.html) says we support python 3.7. We either have to update the documentation or avoid using t

[2022-04-15 17:40] stevenmburns commented on #1070
We removed 3.7 from the CI regressions a few weeks ago. We need to update the documentation. Or we can revert back.

[2022-04-18 15:20] soneryaldiz commented on #1067
#1069

[2022-04-18 20:02] 854768750 opened #1072 "How to specify c and c++ compiler"
@stevenmburns When I `export CC=path/to/gcc` and `export CXX=path/to/g++` it seems still using the default gcc and g++ in `/usr/bin`. Even though I set an empty path it still goes to `/usr/bin`. How can I set the compiler path?

[2022-04-18 20:35] #1067 closed

[2022-04-19 16:31] 854768750 commented on #1072
@soneryaldiz Do you have any idea on this?

[2022-04-19 18:01] 854768750 commented on #1072
It works now, after rebuilding.

[2022-04-19 18:01] #1072 closed

[2022-04-19 18:03] 854768750 commented on #1055
This is solved in #1058, can this issue be closed?

[2022-04-19 18:20] #1055 closed

[2022-04-21 17:41] soneryaldiz opened #1079 "Compiler To Generate Re-usable Constraints"
The auto-generated constraints are not always re-usable by the end user to copy and modify. User has to write constraints from scratch even for a simple OTA circuit. The compiler should generate constraints that are applicable on the original netlist and thereby re-usable by the end user.

[2022-04-21 17:42] soneryaldiz commented on #1079
@kkunal1408 , can we scope the effort it takes and what the gaps are to achieve this?

[2022-04-21 19:15] kkunal1408 commented on #1079
After annotation, for the grouped blocks the individual block name information is not stored in the current database.
e.g. two identified groups DP(MN7, MN8), DP(MN2, MN3) create only one subcircuit hierarchy DP(MN1, MN2) if the devices are equal.  Changing the database would take lots of effort.
There are two tricks that I can think of now:
1. The name information is stored as a string x_MN7_MN8

[2022-04-21 20:26] soneryaldiz opened #1080 "Compiler generating too many symmetry constraints for power train thermo"

[2022-04-28 17:44] 854768750 commented on #1039
@soneryaldiz I cannot find the complete schematic2layout command line when debugging #1084 . Is it possible to print it out? It is no need to always print it out but only when a flag is set such as `--print_schematic2layout_line`

[2022-04-28 17:45] 854768750 commented on #1039
This is because I got different results from the pytest

[2022-04-28 17:49] soneryaldiz commented on #1039
@854768750 , Below is the stdout when I run the test. Is this not the case for you?
[code]

[2022-04-28 20:33] kkunal1408 opened #1086 "Extending pins to boundary"
From the University of Michigan group, there is a requirement. The enhancement requires the creation of ports to the boundary and extending routes to the boundary.  I will add a testcase from them.
This may involve modification in wire length calculation, thus changing the placer.

[2022-04-28 20:34] kkunal1408 opened #1087 "Adding generator type to the groupblock constraint"

[2022-04-29 01:56] arvuce22 commented on #1087
@stevenmburns @kkunal1408 Is 'style' for a placement pattern e.g., common-centroid, interdigitated, etc.?

[2022-04-29 03:05] kkunal1408 commented on #1087
Yes

[2022-04-30 03:15] arvuce22 commented on #1087
@kunal @stevenmburns We have 'pattern' parameter for primitives which defines placement pattern for a primitive, e.g., CC, non-CC or interdigitated. Is 'style' parameter for primitive level or higher level?

[2022-05-02 21:41] stevenmburns commented on #1087
@arvuce22 Pattern might be okay. Can we figure out how to specify it in a GroupBlocks constaint?

[2022-05-03 01:06] arvuce22 commented on #1087
@Burns, Steven M ***@***.***> I will discuss it with @Kishor
Kunal ***@***.***> and let you know.

On Mon, May 2, 2022 at 4:41 PM Steve Burns ***@***.***> wrote:

[2022-05-04 01:53] kkunal1408 opened #1089 "Testing optional features of primitive generator through the flow using constraints"
Can we prepare some tests to verify these optional features?

- [ ] parallel wires
- [x] body
- [x] shared diffusion
- [x] height of unit cell
- [x] pattern

[2022-05-04 01:58] kkunal1408 commented on #1089
@stevenmburns  @arvuce22 @soneryaldiz we can use this for standardizing the method to pass user-defined input constraints to the primitive generator. Right now standalone primitive generator has these options as different switches which need to be modified manually. Other PDKs can have different options.

[2022-05-04 04:11] soneryaldiz commented on #1089
Yes, this could greatly simplify the code.

[2022-05-04 23:18] soneryaldiz commented on #929
This is completed and merged to master.

[2022-05-04 23:18] #929 closed

[2022-05-05 00:50] soneryaldiz commented on #1079
@kkunal1408 , I think the value of user-consumable constraints is significantly higher than reducing redundancy in the subcircuit hierarchy. Furthermore, such a redundancy/duplication can be identified procedurally and be simplified before calling the primitive generator if needed.

[2022-05-05 00:52] soneryaldiz commented on #1079
Per your example, constraints would look like:
[code]

[2022-05-05 00:54] soneryaldiz commented on #1079
Is there any other roadblock that you can think of?

[2022-05-05 01:10] kkunal1408 commented on #1079
No major roadblocks right now and the group block extension with generator constraint was done thinking this issue in mind. I will soon provide an update on this.
One minor roadblock is due to some name-based transformations during primitive generation (primitive/main.py) may fail in case the user changes the name. I will try to fix this with minimal disturbance but some PDK interfaces may break.

[2022-05-05 05:21] arvuce22 opened #1093 "Bulk testcases are failing"
I am unable to run any bulk test cases. Following is an error for "five_transistor_ota_Bulk" example. Any inputs to resolve this?
![image](https://user-images.githubusercontent.com/44516577/166867156-8a418c7e-12b9-4a21-b322-3ea89b23925a.png)

[2022-05-05 08:17] kkunal1408 commented on #1093
@Lastdayends based on the error message looks like the placer should be able to satisfy the constraints. Can you please verify once?

[2022-05-05 15:59] 854768750 commented on #1093
okay

[2022-05-05 15:59] Lastdayends commented on #1093
@kkunal1408 @arvuce22 @soneryaldiz

It is a illegal placement from the view of the checker. May we relax the constraint first for Arvind to test the development? It might need some time to improve placer for a illegal solution.

[2022-05-05 16:49] soneryaldiz commented on #1093
@arvuce22 , you can turn off auto-constraint generation to keep going.
Both mn2/mn3 and mp4/mp5 have even number of legs. Therefore, the difference between the width of these two blocks should be zero or even multiple of poly pitch. I would revisit the primitive generator code. Our practice is always generate even width primitives so that they can be placed on a line of symmetry.

If you think tha

[2022-05-05 18:00] arvuce22 commented on #1093
@Yaldiz, Soner ***@***.***> Thank you! I will try with these
modifications.

On Thu, May 5, 2022 at 11:50 AM soneryaldiz ***@***.***>
wrote:

[2022-05-06 03:29] soneryaldiz opened #1095 "Coordinate legalization in ILP"
We can make the coordinates as integer multiples of pitch in ILP.
This should automatically happen if the width/height of blocks are are multiples of the respective pitches. I think this wouldn't affect the runtime for most scenarios.
We could use an example for such an overlapping scenario to drive this change in ILP.

_Originally posted by @srini229 in https://github.com/ALIGN-analoglayout/ALIGN

[2022-05-10 15:28] #1070 closed

[2022-05-11 17:46] stevenmburns opened #1100 "Where should we put a block specific override for min and max routing layers?"
@kkunal1408 @soneryaldiz @Lastdayends I want my block to only use m2 and m3 for interconnections between primitives.
It makes sense that this should be a block specific constraint. Should we create a new constraint type for this sort of routing constraint? (There are several others like this.)
Currently this information in the layers.json file. We can write out a modified layers.json file for use

[2022-05-11 18:20] soneryaldiz commented on #1100
1) Do you really want this to be at block level or for specific nets? I was thinking of introducing a routing constraint which does this per block, not per net. We can extend this constraint by simply setting it for all nets.

2) I think we should get rid of layers.json completely and use pybind to pass along any such info. This could later allow us to use different grids for different blocks as w

[2022-05-11 18:33] Lastdayends commented on #1100
@stevenmburns @soneryaldiz

As suggested by Soner, a new constraint for specific nets makes more sense. In router, the routing grid-graph is constructed for each net, thus we can use a constraint to define the metal layers for the grid-graph.

[2022-05-11 19:03] soneryaldiz commented on #1100
Below is what I have in mind and can start a PR Today:
[code]

[2022-05-11 19:07] soneryaldiz commented on #1100
In the past, I was also thinking of adding optional sources/targets to make this even more expressive. However, this no longer makes sense with partial routing. There are groups of sources and groups of targets. It could still be possible to translate/expand such a constraints with partial routing yet engineering this constraint gets harder for the user. Therefore, above could be a simpler start.

[2022-05-11 19:13] stevenmburns commented on #1100
Which of these do you like?
[code]
Or
[code]
Or
[code]

[2022-05-11 19:15] soneryaldiz commented on #1100
By the way, there is one issue that needs to be resolved @Lastdayends . When min layer is M2, it cannot land on an existing M1 terminal. This restriction should go away. If there is an existing M1 terminal, router should still be able to land on it even if min layer is M2.

[2022-05-11 19:23] soneryaldiz commented on #1100
I would avoid `Restrict`. Any constraint by definition is a restriction. I like the defaults. How about?
[code]

[2022-05-11 19:26] stevenmburns commented on #1100
I changed it. Is that what you meant?
(moved the closing brace to the end of the five field dictionary)

[2022-05-11 19:28] stevenmburns commented on #1100
Ok, sounds good. I'll open a PR.

[2022-05-11 20:10] stevenmburns opened #1101 "How should we specify that we want to only consider particular aspect ratios of a primitive?"
@kkunal1408 @arvuce22 @soneryaldiz I'd like to add a new constraint that limits the possible primitives that get generated for a particular block. For example, consider the current constraints for the NIWC op amp example:
[code]
If I know that I only want primitives of size X1_Y8 and X2_Y4 for the "dp" block, I could annotate that information in the corresponding "generator parameters". Could we h

[2022-05-11 20:11] Lastdayends commented on #1100
@soneryaldiz

There is no such restrictions for router. You can use M1.

The reason why using M2 might from primitive generation? (not sure)

[2022-05-11 20:14] Lastdayends commented on #1100
@soneryaldiz

Sorry, I misunderstand you. In that case, why not setting M1 as the min layer?

The logic is conflicting that M1 needs to be routed but the min layer is M2.

[2022-05-11 20:21] stevenmburns commented on #1100
We have situations were we have an m1 pin that we want to connect the rest of the net. We don't want the router to extend m1 or use m1 to do the routing, just connect to the existing m1 pin.
We can generate a unit test for you when we get this started.

[2022-05-11 20:33] Lastdayends commented on #1100
@stevenmburns

Thanks for the explanation. A unit test is better to understand the situations.

[2022-05-11 20:35] stevenmburns commented on #1100
The other way we could do this now is to create blockages for all the m1 tracks that do not contain pins. But that is a little inconvenient if we have another way to do it.

[2022-05-12 13:25] arvuce22 commented on #1093
Resolved

[2022-05-12 13:25] #1093 closed

[2022-05-12 13:27] arvuce22 commented on #928
@powergainer closing the issue. Please let us know if you are still facing the issue.

[2022-05-12 13:27] #928 closed

[2022-05-12 20:35] soneryaldiz commented on #1079
@kkunal1408 , should we start a PR to do this?

[2022-05-12 20:44] kkunal1408 commented on #1079
I will do it by this weekend.

[2022-05-12 23:30] stevenmburns commented on #1100
The easy part of this (min and max layers for all nets in a block) is solved by #1102. We will continue to work on the per net constraint.

[2022-05-13 17:38] soneryaldiz opened #1106 "SameTemplate for Virtual Hierarchy"
Enhance compiler so that it is possible to specify SameTemplate for two separate GroupBlocks when they are equivalent. Compiler should throw assertion if the GroupBlocks do not match.

[2022-05-14 03:02] kkunal1408 commented on #1106
Right now since template names are unique, the compiler translates them to their instance names. What to do if constraints are defined based on these template names? Is it OK to modify the GroupBlocks constraint with two parameters one with template name and another instance name (concerned about larger impact)?

[2022-05-15 13:24] kkunal1408 commented on #1087
implemented in #1085

[2022-05-15 13:24] #1087 closed

[2022-05-15 18:17] soneryaldiz opened #1109 "Auto-generate SameTemplate for Subcircuits in Input Netlist"
[code]

- [ ] This flag auto-generates a `SameTemplate` constraint for every subcircuit in the netlist that has more than one instances.

- [ ] During constraint translation to PnR, combine `SameTemplate` constraints with overlapping instances (union find).

This feature can reduce the placement search space by orders of magnitude in industrial analog and mixed signal IP's.

[2022-05-15 18:18] soneryaldiz commented on #1109
@kkunal1408 , do you want to do this?

[2022-05-15 18:25] kkunal1408 commented on #1109
What is all? Is it all matching subcircuits? Can you provide a test case for it?

[2022-05-15 18:29] soneryaldiz commented on #1106
@kkunal1408 , all constraints with few exceptions (AspectRatio, Boundary, ..) are on the instance names. What do you mean by constraints on template names? I am not quite following.

Let me describe a motivating example:
[code]
The constraints above could be auto-generated or user-provided. Any other placement constraint is still on the unique instance names `grp1` and `grp2`. Therefore, this shal

[2022-05-15 18:31] soneryaldiz commented on #647
This issue indirectly addressed in recent PR's

[2022-05-15 18:31] #647 closed

[2022-05-15 18:35] soneryaldiz commented on #1109
Here is an example. Given netlist:
[code]
Auto-generate:
[code]

I will start a PR on Monday.

[2022-05-16 16:38] stevenmburns commented on #1106
If we have a generator constraint we will probably only want to specify it for one of the `GroupBlocks` constraint.
We could do something like this to embrace the non-symmetry in the specification:
[code]
or, if specifying the template (abstract) name is important:
[code]
or, if we could keep the specification symmetric (even though we will only write one generator statement), as:
[code]

[2022-05-16 17:41] soneryaldiz commented on #1109
Notes
- This feature is for physical subcircuits that are defined in the input netlist. This does not apply to virtual subcircuits that are defined via GroupBlocks.
- Would it be possible to use SameTemplate across hierarchy? It does not seme trivial to do in bottom up placement. It may require solving placement problem for each variant of the atomic subcircuit. One way could be to limit the numbe

[2022-05-16 17:44] soneryaldiz opened #1110 "Limit number of variants for intermediate hierarchy."
Is it possible to use `nvariants` only for the top-level circuit and limit for intermediate hierarchy as follow?
`min(4, nvariants)`. It is not necessary to expose this parameter as a command line argument.

[2022-05-16 17:47] soneryaldiz commented on #1079
Notes:
TODAY:
[code]
After this PR:
[code]

[2022-05-16 18:20] soneryaldiz commented on #1106
@kkunal1408 and I were just discussing this in #1109 .
A hacky way is to over-constrain that group (such as specifying a single aspect ratio) so that the placer can generate a single variant.
A better way is to introduce a new constraint that can limit the number of variant for a subcircuit. This will ensure all instances across hierarchy to have the same variant.

[2022-05-16 22:08] supertjhok opened #1111 "Several of the examples are not compiling"
Examples:

1) Five transistor OTA

schematic2layout.py ../examples/five_transistor_ota -p ../pdks/FinFET14nm_Mock_PDK/
align.main INFO : Reading netlist: /home/supertjhok/ALIGN-public/examples/five_transistor_ota/five_transistor_ota.sp subckt=FIVE_TRANSISTOR_OTA, flat=0
align.compiler.compiler INFO : Starting topology identification...
align.compiler.user_const INFO : Reading constraint file: [Pos

[2022-05-17 02:50] kkunal1408 opened #1112 "Merge overlapping symmetry constraints"
Placer does it internally and needs to be added to the compiler for improved readability of the constraints.

[2022-05-17 06:39] kkunal1408 commented on #1111
Thanks for highligting. The supported Python version for ALIGN is python 3.8 and above.

The error message is incomplete due to a typo in the line 53 "/home/supertjhok/ALIGN-public/work/general/lib/python3.10/site-packages/align/pnr/cap_placer.py".
Can you change that to

[code]
and paste the assertion error message again?

[2022-05-17 08:14] Arvin1000 opened #1113 "About training database of ML"
Hi, I read the paper of ALIGN, knowing that it uses machine learning to train some circuits or primitives.

But I didn't find where is the training database and how you train in your code.

Could you please tell where to find them, thanks very much!

[2022-05-17 14:17] supertjhok commented on #1111
Thanks. Modified error message is as follows:

schematic2layout.py ../examples/telescopic_ota_guard_ring -p ../pdks/FinFET14nm_Mock_PDK/
align.main INFO : Reading netlist: /home/supertjhok/ALIGN-public/examples/telescopic_ota_guard_ring/telescopic_ota_guard_ring.sp subckt=TELESCOPIC_OTA_GUARD_RING, flat=0
align.compiler.compiler INFO : Starting topology identification...
align.compiler.user_const

[2022-05-17 19:45] supertjhok commented on #1111
Thanks. The problem turned out to be point #2. Cleaning out the work area solves the problem.

[2022-05-18 01:00] kkunal1408 commented on #1113
Hello @Arvin1000 These are the OTA topologies used for training https://github.com/ALIGN-analoglayout/ALIGN-public/tree/master/CircuitsDatabase/Unsized_Netlists/Low%20frequency%20analog/OTA_topologies

[2022-05-18 01:00] #1111 closed

[2022-05-19 02:56] #541 closed

[2022-05-24 13:36] kkunal1408 opened #1116 "CamelCase for all constraints"
update all user and generated constraints to camelcase

[2022-05-24 17:48] stevenmburns commented on #1101
Resolved in #1105

[2022-05-24 17:48] #1101 closed

[2022-05-24 17:52] stevenmburns commented on #1100
This is being solved in PR #1108 Test have been written. I'll close this and we can continue discussing it in the PR.

[2022-05-24 17:52] #1100 closed

[2022-05-26 10:40] Arvin1000 commented on #1113
a...then how you train with ML?
I researched your paper GANA,but didn't find codes either in the paper or here.
so....whether or not you open your code of training?How can we find them?
Thanks very much!

[2022-05-26 16:50] soneryaldiz opened #1118 "Limits The Number of Variants Generated For a Subcircuit"
A subcircuit might be instantiated in various places in an hierarchical IP. If matching required, it is desirable to instantiate the exact same layout (variant) wherever the subcircuit is instantiated. This request is to introduce a constraint to limit the number if variants for one or more subcircuits.

[2022-05-26 16:51] soneryaldiz commented on #1118
Examples: Replica biasing, replica delay, variable gain amplifiers, etc.

[2022-05-26 16:55] srini229 commented on #1118
@soneryaldiz how do we find a *good* variant for two independent hierarchies? What is compact for one hierarchy may not be for another.

[2022-05-26 17:07] soneryaldiz commented on #1118
@srini229 , you are right. One variant may not be optimal for area or wire length. However, for some circuits, matching precedes all other concerns.

[2022-05-26 22:36] #1079 closed

[2022-06-01 18:30] Lastdayends opened #1121 "Need to break some assumptions in layer.json"
We always assume that pin shares the same GdsLayerNo as its metal (for example, the pin in GDSII file is 20:3 and its meal draw is 20:0). However, it is not true in some TSMC pdks. For example, the pin in GDSII can be 120:0, while its metal draw is 20:0. Any though to solve this? @stevenmburns @soneryaldiz @arvuce22

Maybe two parts need to be modified to handle this change, one is P&R, another is

[2022-06-09 19:41] arvuce22 opened #1128 "Block spacing constraints are not respected"
@Lastdayends I have added a testcase in #1127 (examples/block_spacing_bug).  In the testcase I am defining spacing to 160nm however it results in 80nm as shown below:

![image](https://user-images.githubusercontent.com/44516577/172930780-063e482e-7955-481b-b07d-ffc8dc025a94.png)

[2022-06-11 21:12] #1089 closed

[2022-06-14 16:55] #1128 closed

[2022-06-27 20:18] soneryaldiz opened #1138 "Is it possible to set a time/iteration limit on the ILP solver?"
For a production circuit with just four blocks and no constraints, the ILP problem cannot find a solution in more than 20 minutes. The test case has vertical and horizontal PlaceOnGrid constraints. Unfortunately, we cannot share this test case and I cannot reproduce with the mock PDK.

Is it possible to set an iteration/time limit on the ILP solver? Is it possible that the formulated ILP problem i

[2022-06-27 20:35] 854768750 commented on #1138
Does "cannot reproduce with the mock PDK" mean there is no error with mock PDK when only PDK is different?

the number of iteration can be set here https://github.com/ALIGN-analoglayout/ALIGN-public/blob/59487935be40d7449f2656a401b10b9f1525556d/align/cmdline.py#L143

[2022-06-27 21:02] 854768750 commented on #1138
Yes, it controls the number of&nbsp;Simulated Annealing iterations. It is a global variable, for all instance.

------------------&nbsp;Original&nbsp;------------------
From: ***@***.***&gt;;
Date: 2022年6月28日(星期二) 凌晨5:00
To: ***@***.***&gt;;
Cc: ***@***.***&gt;; ***@***.***&gt;;
Subject: Re: [ALIGN-analoglayout/ALIGN-public] Is it possible to set a time/iteration limit on the ILP solver? (Issue #1

[2022-06-28 00:50] srini229 commented on #1138
@soneryaldiz The default solver has a 10s time limit. For the place on grid constraint, we are using a different solver. I missed setting the time limit for this one. Can you please try out this branch fix/cbc_ilp_time_limit ?

[2022-06-28 05:19] soneryaldiz commented on #1138
@srini229 , thanks. I will try and reply to the thread.

[2022-06-28 19:07] soneryaldiz opened #1142 "Constraint DSL: Spread"
This is a request for a new constraint:
[code]
This constraint allows user to specify minimum spacing between list of instances to satisfy design rules in advanced nodes.

Example:
[code]
XI0 and XI1 should be at least 100nm apart horizontally.

[2022-06-28 19:33] srini229 commented on #1142
The sequence pair capture one of the relations
XI0 above XI1: Here the constraint does not apply
XI0 below XI1: -do-
XI0 left of XI1: just another separation constraint in ILP
XI0 right of XI1: -do-
The issue here is that XI0 being left/right of XI1 does not mean it cannot be above/below XI0.
Checking exact overlap appears doable through some ILP tricks with boolean variables.
I'll first get a ver

[2022-06-29 08:09] #1109 closed

[2022-06-29 18:49] soneryaldiz opened #1144 "Do Not Identify Transistors as complex primitives given a constraint on"

[2022-06-29 23:19] soneryaldiz commented on #1142
Thanks @srini229 for the update. I can revise the test. Could you please merge master to your branch so that we can get rid of some of the annoying test failures?

[2022-06-29 23:45] srini229 commented on #1142
@soneryaldiz Should the distance specified in the constraint be scaled by the scalefactor used in layers.json? The bias_Hgraph and bias_Vgraph are scaled by that value currently.

[2022-06-29 23:49] soneryaldiz commented on #1142
Yes, they should be scaled and it already seems to be scaled when I eyeballed the layout.

[2022-06-30 20:10] #1142 closed, assigned to srini229

[2022-06-30 20:31] soneryaldiz opened #1146 "Refactor Constraint DSL: Retire VerticalDistance, HorizontalDistance, BlockDistance and Replace by Spread"
- [ ] Consolidate/retire duplicate constraints exposed to the user
- [ ] Use consistent distance metric across constraints
- [ ] Use consistent line/direction/etc. (H/horizontal/h_bottom/..)

[2022-06-30 20:31] soneryaldiz opened #1147 "Ability to generate layout with a set of constraints"
Example use cases:
- Different floorplans for advanced process nodes,
- Different aspect ratios for detected arrays

[2022-06-30 21:08] srini229 commented on #1146
@soneryaldiz the spacings specified using Vertical/Horizontal distances were scaled down by the ScaleFactor in layers.json when used by the placer. When I do this same with the `distance` parameter of the `spread`, the test fails. We may need to define the units uniformly for these constraints.

[2022-07-06 21:18] breeze12380 opened #1148 "Support for new pdk"
Hi, I am wondering if ALIGN can be loaded to work with custom PDK in the Cadence Virtuoso, e.g., with NCSU_45_FREEPDK. Thanks!

[2022-07-07 19:10] kkunal1408 commented on #1144
The high_speed_comparator example runs on my system.  Wondering if I am looking at the right test case or is there a modified set of constraints for this PR?

[2022-07-09 05:42] soneryaldiz commented on #1144
@kkunal1408 , I modified the constraints on this PR. If you want to reproduce, you can try with the previous constraint set.

[2022-07-09 05:50] soneryaldiz commented on #1116
Constraints are defined and documented in CamelCase. However, the constraints produced/translated by the compiler are snake_case. Can compiler stick with the documentation, CamelCase, to prevent confusion?

[2022-07-09 05:50] soneryaldiz commented on #1116
This could be a simple back-transformation from snake to camel.

[2022-07-10 09:09] AloysDu opened #1152 "Error in run adder"
When I run the align to run adder in Example, I get an error, but the layout is generated. Can these errors and warnings be ignored ?
The command and error information are as follows.

schematic2layout.py ../examples/adder -p ../pdks/FinFET14nm_Mock_PDK/

 I get this log:

align.pnr.router INFO : Starting top_down routing on ADDER 0 restricted to None
PnR.router.Router.RouteWork INFO : GcellGlobal

[2022-07-11 00:33] kkunal1408 commented on #1152
Yes, these errors are fine. These are due to different width nets used for capacitors. Our inbuilt DRC checker assumes uniform width and thus shows a DRC but these are not present when we use a real Calibre DRC checker.

[2022-07-11 02:48] #1116 closed

[2022-07-11 06:22] AloysDu commented on #1152
get it. thanks

[2022-07-11 12:33] AloysDu opened #1153 "Assert False, Unmatched generator for this instance"
Hello,
I converted some simple SPICE netlists according to the format in Align example, and then ran the layout and wiring to test the efficiency of Align, and most of them were successful. However, I noticed that there was error in a small part of them. I looked at the SP file carefully and compared it with other successful cases,It told me to fix netlist But I can't find the reason why the m11 s

[2022-07-13 20:56] #1144 closed

[2022-08-04 20:02] #1152 closed

[2022-08-04 20:10] kkunal1408 commented on #1153
Which PDK are you using? It seems like the nmos_rvt device name is not defined for the specific pdk.
It needs to be defined in pdks/<pdk_name>models.sp e..g "pdks/FinFET14nm_Mock_PDK/models.sp"

[2022-08-04 20:32] kkunal1408 commented on #1148
Please use this PDK for 45 nm.

https://github.com/ALIGN-analoglayout/ALIGN-public/tree/master/pdks/Bulk45nm_Mock_PDK

[2022-08-11 18:35] kkunal1408 commented on #1153
@AloysDu let me know if this worked for you.

[2022-09-13 07:05] parkerluxu opened #1161 "AssertionError: incorrect symmetry branch"
Hello, I got this error when I want to generate my layout from the schematic.
 my spice file is like the following:

[code]

I can get the layout with only INVD2BWP35P140 or ISOSRHID2BWP35P140. Are some issues in my design schematic?
the error message is the following:
[code]

[2022-09-15 22:52] soneryaldiz opened #1162 "Check that layers have unique GdsLayerNo in layers.json"
Yes, we can and should have different GdsLayerNo. I will start an issue to address this later. I will fix the layer number right away.

_Originally posted by @soneryaldiz in https://github.com/ALIGN-analoglayout/ALIGN-public/issues/1155#issuecomment-1248720509_

[2022-09-16 21:23] soneryaldiz opened #1163 "How can we disable auto-constraint generation through the hierarchy?"
The goal is to generate completely constraint-driven layout. I do not want ALIGN to auto-generate any symmetry constraints for top level, for subhierarchies and for any virtual subhierarchy. How should the compiler be configured to achieve this?

[2022-09-16 22:25] soneryaldiz opened #1165 "Propagate Floorplan constraint to Virtual Hierarchy"
Motivating example:
[code]
The floorplan constraint above should propagate to the virtual hierarchy defined by GroupBlocks.

[2022-09-16 22:28] soneryaldiz commented on #1161
@parkerluxu auto-constraint generation is failing. Please try turning it off by adding a constraint:
[code]
cc'ing @kkunal1408 .

[2022-09-18 11:12] parkerluxu commented on #1161
Thanks, the problem has been solved by adding this constraint.

[2022-09-22 00:06] soneryaldiz commented on #1163
Unable to disable: #1168

[2022-09-22 23:03] #1039 closed

[2022-09-22 23:04] 854768750 commented on #777
Is this issue solved?

[2022-09-23 02:28] soneryaldiz opened #1173 "Enable test_integration ldo_error_amp_v2"
test_integration ldo_error_amp_v2 is taking excessive time in CI merge. Disabling for debug in a future PR.

_Originally posted by @soneryaldiz in https://github.com/ALIGN-analoglayout/ALIGN-public/pull/1088#discussion_r978222966_

[2022-09-26 18:50] soneryaldiz opened #1174 "Is it possible to add placement constraints for a virtual block (aka. GroupBlocks)?"
While defining a virtual hierarchy using `GroupBlocks` constraint, is it possible to add additional constraints for this group?

[2022-09-28 22:54] soneryaldiz opened #1178 "Do not solve ILP for a sequence pair that was solved before"

[2022-09-29 17:10] kkunal1408 opened #1181 "Template names are appended with a hash"
If user is specifying a template (i.e., subcircuit) name in a group block, why append a hash to it?
1. hash is an indirect way of storing the subcircuit information (sizing + constraints). This helps in comparing two blocks for symmetry.
2. This helps in the reduction of storing duplicate hierarchies.

This PR will explore the impact of removing the hash.

[2022-09-29 17:10] kkunal1408 commented on #1181
@soneryaldiz hash removal will be targeted here.

[2022-09-29 17:54] soneryaldiz commented on #1178
@854768750 , fyi.

[2022-10-05 00:47] #1178 closed

[2022-10-10 18:52] soneryaldiz opened #1188 "What is the difference between HPWL_extend vs HPWL_ILP?"
What could cause HPWL_extend to be zero or negative?

[2022-10-10 18:55] soneryaldiz commented on #1188
Examples:
[code]

[2022-10-10 19:03] srini229 commented on #1188
HPWL_ILP is the HPWL evaluated using the terms used in the cost function of the ILP. It uses the bounding box of the pins.

From the code, HPWL_extend appears to be iterating over all the shapes of a pin to find the HPWL. HPWL_extend is set to 0 for a floating pin(a pin at a hierarchy with no connection).

[2022-10-10 19:14] 854768750 commented on #1188
HPWL_extend considers the pin shape
HPWL_ILP only takes center point of pin

[2022-10-10 19:17] soneryaldiz commented on #1188
Are you sure? The code indicates the opposite.

[2022-10-10 19:24] 854768750 commented on #1188
HPWL_ILP also considers pin shape, using variable values from ILP solver
HPWL is center point only

[2022-10-13 19:02] soneryaldiz opened #1189 "What if global router cannot reach destination?"
Within the [minimum spanning tree method](https://github.com/ALIGN-analoglayout/ALIGN-public/blob/f742c81b32ed4782b2d2651ceb8a0012ec133e52/PlaceRouteHierFlow/router/GlobalGraph.cpp#L243), there is a while loop on the size of destination points. If a destination is not reachable, this while loop turns into an infinite loop as the [Dijktra's shortest path algorithm](https://github.com/ALIGN-analogla

[2022-10-13 19:06] 854768750 commented on #1189
@soneryaldiz Yes, it should report error when no path is found. I will add some code

[2022-10-13 20:00] soneryaldiz commented on #1188
Some more examples:
[code]

[2022-10-13 20:15] soneryaldiz commented on #1188
Discussed in the meeting. Will start a PR to find a reproducing case. May need to build in debug mode to catch assertions or throw.

[2022-10-13 20:44] srini229 commented on #1188
I added an `exit()` locally to check for scenarios where HPWL_ILP and HPWL_extend do not match.
These three tests failed:
[code]

[2022-10-13 20:47] soneryaldiz commented on #1188
Could you please start a PR?

[2022-10-13 20:49] soneryaldiz commented on #1188
Is it possible to use HPWL_ILP and drop HWPL_extend?
Is there a reason to calculate HPWL_extend again after an ILP solution?

[2022-10-13 20:57] srini229 commented on #1188
If we ensure that we are doing the right thing in ILP, we can drop HPWL_extend.
Since we got rid of the compaction routine, there is no change to placement after ILP.
This means HPWL_ILP has to match the HPWL_extend excepting the scenario when there is no ILP called.
Which is for the trivial case of a single instance hierarchy with no PlaceOnGrid constraints.

[2022-10-13 21:36] 854768750 commented on #1188
For this test case `test_dcl`, the net `VBIAS1` is only connected to one pin `X_MP33:S`.
As there is only one pin in this net, HPWL_ILP skips this net, but HPWL_extend keeps this net.
Similar for net `V2` and net `V4`.
@soneryaldiz Do you want to count HPWL for these one-pin nets?

[2022-10-13 21:53] 854768750 commented on #1188
This PR https://github.com/ALIGN-analoglayout/ALIGN-public/pull/733 tells why we added so many versions of HPWL.
HPWL: center points only, of all nets (regardless of one-pin net or n-pin net)
HPWL_extend: consider bounding box of pins, of all nets (regardless of one-pin net or n-pin net)
HPWL_extend_terminal: consider bounding box of pins, of terminal nets (at least one terminal in the net). exclu

[2022-10-13 22:07] 854768750 commented on #1188
https://github.com/ALIGN-analoglayout/ALIGN-public/blob/f742c81b32ed4782b2d2651ceb8a0012ec133e52/align/pnr/hpwl.py#L120
The checker seems to have different net selection criteria.

[2022-10-13 22:58] soneryaldiz commented on #1188
https://github.com/ALIGN-analoglayout/ALIGN-public/blob/f742c81b32ed4782b2d2651ceb8a0012ec133e52/align/pnr/placer.py#L126

@854768750 , `skip_globals` is set to `True` which implies power and ground rails are excluded from the calculation.

[2022-10-13 23:04] soneryaldiz commented on #1188
Reading #733 , `HPWL_extend` is added per @stevenmburns 's request. I suggest to keep only `HPWL_ILP` which by definition is supposed to match `HPWL_extend` and use it as the HPWL. Is there a reason to keep any other HPWL definition around?

One quick experiment is to expose `HWPL_ILP` to `placer.py` and check if they ever mismatch.

[2022-10-13 23:06] 854768750 commented on #1188
HPWL_ILP and&nbsp;HPWL_extend are different, when one-pin net exists.
HPWL_ILP does not consider one-pin net.&nbsp;HPWL_extend&nbsp;does.

------------------&nbsp;Original&nbsp;------------------
From: ***@***.***&gt;;
Date: 2022年10月14日(星期五) 上午7:04
To: ***@***.***&gt;;
Cc: ***@***.***&gt;; ***@***.***&gt;;
Subject: Re: [ALIGN-analoglayout/ALIGN-public] What is the difference between HPWL_extend vs

[2022-10-14 15:20] soneryaldiz commented on #1188
https://github.com/ALIGN-analoglayout/ALIGN-public/blob/f742c81b32ed4782b2d2651ceb8a0012ec133e52/align/pnr/hpwl.py#L157

The checker above also includes single-pin nets. @srini229 , is it straightforward to include single-terminal nets in HPWL_ILP?

[2022-10-14 16:05] 854768750 commented on #1188
single-pin net is included in https://github.com/ALIGN-analoglayout/ALIGN-public/pull/1191/commits/62a20c6872379e082c2e5cc39abfad244366c601

[2022-10-21 16:46] soneryaldiz opened #1194 "Why is compiler generating a single instance hierarchy transistors that are identified?"
Consider two scenarios:
[code]

Case 1 results in a single instance virtual hierarchy while case 2 does not and treated as a simple primitive. What is the reason for creating this redundant, single instance hierarchy?

[2022-10-22 01:34] #1188 closed

[2022-10-28 17:53] uduse opened #1200 "ImportError: cannot import name 'PnR'"
I am getting this error after following the installation guide and run `pytest -vv`. I tried both Linux and MacOS and this exact problem happens in both of them.

[code]

[2022-10-28 19:13] stevenmburns commented on #1200
Can you give me more details of what you did to install the tool and paste in the log file?
Can you follow the instructions in README.md (Step 0 through Step 4) then let us know where it first breaks?
Does Step 4 work for you, but not `pytest -vv`.

[2022-10-28 19:17] uduse commented on #1200
@stevenmburns Thank you for your support 😃  I followed the exact steps 0, 1, 2, 3a. Step 4 works, I am able to generate layout, but the test never passes. The test is the only case where it breaks.

[2022-10-28 19:24] stevenmburns commented on #1200
What version of Python are you using?
You seem to be in the "general" virtualenv.
Can you start up python in the virtualenv and run these three commands (the first three in `conftest.py` and tell me what you get:
[code]

[2022-10-30 00:58] uduse commented on #1200
I'm using Python 3.8.15. The `general` virtualenv is suggested by the installation guide so I followed it verbatim.
[code]

[2022-10-31 15:00] stevenmburns commented on #1200
It seems that maybe PNR was not built correctly (a C++ extension) but I haven't seen this error message before.
You could try removing the _skbuild directory and trying all the steps over again.

I tried a reinstall from scratch on Ubuntu 18.04 and am not able to reproduce this issue.
If you let me know what OS you are using, I can make a Dockerfile that will document all the steps needed to insta

[2022-10-31 15:44] uduse commented on #1200
@stevenmburns Thank you for your help, I really appreciate it 🙇‍♂️ I tried it both natively on my MacOs and inside of a Linux docker. This exact same problem happen in both of them.

[2022-10-31 16:02] stevenmburns commented on #1200
Which linux do you want me to build a Dockerfile for? Ubuntu or Centos and which version.

From: Zeyi Wang ***@***.***>
Sent: Monday, October 31, 2022 8:45 AM
To: ALIGN-analoglayout/ALIGN-public ***@***.***>
Cc: Burns, Steven M ***@***.***>; Mention ***@***.***>
Subject: Re: [ALIGN-analoglayout/ALIGN-public] ImportError: cannot import name 'PnR' (Issue #1200)

@stevenmburns<https://github.com/stev

[2022-10-31 22:11] uduse commented on #1200
@stevenmburns Ubuntu will be great! Thanks a lot!

[2022-10-31 23:41] stevenmburns commented on #1200
Ok, here is a Dockerfile that correctly builds align on Ubuntu 20.04
[code]
To build the container, in an empty directory try:
[code]
You can then run the tests using:
[code]
and then in the container:
[code]

[2022-11-01 00:52] stevenmburns commented on #1200
I've upload an image to docker hub, so you can use that directly without building it yourself:
[code]

[2022-11-01 20:03] uduse commented on #1200
@stevenmburns I have tried the image on the docker hub and I made through the tests without any problem. Thanks a lot! 🙇

[2022-11-01 20:03] #1200 closed

[2022-11-03 19:48] kkunal1408 commented on #1194
Both cases have two instances MN1 and MN2 ? The difference between these is case one will be placed and routed by PnR e.g. an inverter and the second case will be generated by the primitive generator e.g., a differential pair.

[2022-11-03 19:50] #1161 closed

[2022-11-03 19:51] kkunal1408 commented on #1153
Closing as no response.

[2022-11-03 19:51] #1153 closed

[2022-11-03 19:54] kkunal1408 commented on #1163
fixed in #1168

[2022-11-03 19:54] #1163 closed

[2022-11-03 19:55] soneryaldiz commented on #1095
I am closing this issue as it has been addressed in #1180

[2022-11-03 19:55] #1095 closed

[2022-11-03 19:55] #1165 closed

[2022-11-03 19:57] soneryaldiz commented on #1173
Completed in #956

[2022-11-03 19:57] #1173 closed

[2022-11-03 19:58] kkunal1408 commented on #1181
Hashes are important to identify identical subcircuits. Name-based matches may not work for virtual hierarchies in case the constraints are different for two group blocks.

[2022-11-03 20:00] kkunal1408 commented on #1041
closing this issue as master is passing now.

[2022-11-03 20:00] #1041 closed

[2022-11-03 20:01] kkunal1408 commented on #990
CLosing as this is not a priority now.

[2022-11-03 20:01] #990 closed

[2022-11-03 20:36] soneryaldiz commented on #540
@meghna09 , is this still needed?

[2022-11-03 20:40] soneryaldiz commented on #446
@srini229 will look into this.

[2022-11-03 20:41] #468 closed

[2022-11-03 20:41] #204 closed

[2022-11-03 20:41] #210 closed

[2022-11-03 20:42] soneryaldiz commented on #538
Lack of test case.

[2022-11-03 20:42] #538 closed

[2022-11-03 20:43] #545 closed

[2022-11-03 20:44] soneryaldiz commented on #546
@meghna09 , is this still relevant?

[2022-11-03 20:45] #776 closed

[2022-11-03 20:46] #777 closed

[2022-11-03 20:47] kkunal1408 commented on #1113
Will provide it later.

[2022-11-03 20:47] #1113 closed

[2022-11-03 20:48] soneryaldiz commented on #811
Please refer to [the documentation](https://github.com/ALIGN-analoglayout/ALIGN-public/blob/master/pdks/PDK_Abstraction_Guide.pptx)

[2022-11-03 20:48] #811 closed

[2022-11-03 20:51] soneryaldiz commented on #842
@srini229 is working on an alternative router that could mitigate this problem.

[2022-11-03 20:52] soneryaldiz commented on #874
Completed except the spice models.

[2022-11-03 20:52] #874 closed

[2022-11-03 20:55] soneryaldiz commented on #947
Could you please try with [the bulk PDK](https://github.com/ALIGN-analoglayout/ALIGN-public/tree/master/pdks/Bulk65nm_Mock_PDK)?

[2022-11-03 20:56] #959 closed

[2022-11-03 20:58] soneryaldiz commented on #997
A workaround is in place.

[2022-11-03 20:58] #997 closed

[2022-11-03 21:00] #1016 closed

[2022-11-03 21:04] kkunal1408 commented on #1110
Already in place in different forms: legal_sizes / exact_patterns (check gen_param.py file for more information.)
These are PDK-specific flows. Please let me know if this is essential we can add this to one or all PDKs.

[2022-11-03 21:32] soneryaldiz commented on #1110
@kkunal1408 , you are right, we can limit variants for primitives right now.
There is still an issue: `nvariants` parameter is used not only for top level but also for the intermediate hierarchy. The issue is if we want to see, let's say, the best 30 solutions, 30 variants are attempted for lower hierarchy as well and this is redundant. I suggest we limit the max number of variants for lower/inter

[2022-11-03 21:35] soneryaldiz commented on #1110
@854768750 , is it possible to use `nvariants` only for the top-level circuit and limit for intermediate hierarchy as follow?
min(4, `nvariants`). It is not necessary to expose this parameter as a command line argument.

[2022-11-03 21:36] 854768750 commented on #1110
yes I will have a try

------------------&nbsp;Original&nbsp;------------------
From: ***@***.***&gt;;
Date: 2022年11月4日(星期五) 凌晨5:35
To: ***@***.***&gt;;
Cc: ***@***.***&gt;; ***@***.***&gt;;
Subject: Re: [ALIGN-analoglayout/ALIGN-public] Limit number of variants for intermediate hierarchy. (Issue #1110)

@854768750 , is it possible to use nvariants only for the top-level circuit and limit for inte

[2022-11-03 22:12] #1138 closed

[2022-11-03 22:13] soneryaldiz commented on #793
Lack of test case.

[2022-11-03 22:13] #793 closed

[2022-11-03 22:15] soneryaldiz commented on #1030
This is partially completed by #1180.

[2022-11-03 22:15] #1030 closed

[2022-11-03 22:33] kkunal1408 commented on #1148
closing as no response.

[2022-11-03 22:33] #1148 closed

[2022-11-05 17:56] ChrisZonghaoLi opened #1204 "ALIGN to work with open pdk"
Greetings,

So this is rather a very general question. Does anyone here ever try to use ALIGN to work with some open pdks such as skywater130? The reason I am asking is I intend to actually do so and I assume the biggest hump here is to (probably very labor intensive but should be straightforward) have all skywater130 design rules written in the JASON file (similar to that mock 14nm FInFET). Is th

[2022-11-09 05:01] ryancor opened #1207 "Confusion on Inductors with FinFet PDK"
We are allegedly allowed to use inductors in our spice files because I can see it in the models.sp file in that directory so I added it in like:

“L1 vps gnd inductor ind=1 parallel=1 value=1 stack=1”

and it just keeps erroring out with “unmatched generator for this instance model=“INDUCTOR” name=L1 pins=etc etc… abstract_name=None, please fix netlist”

[2022-11-10 02:08] machenyue12956 opened #1210 "can not make PlaceRouteHierFlow"
I set up ALIGN following the "ALIGN INSTALLATION HELP" and would like to do "make" in the file of PlaceRouteHierFlow. It failed with "make: *** No targets specified and no makefile found. Stop". Could I get any suggestions?
Thank you so much.
Ubuntu 20.04 LTS (GNU/Linux 5.10.16.3-microsoft-standard-WSL2 x86_64)
Python 3.8.10
gcc (Ubuntu 9.4.0-1ubuntu1~20.04.1) 9.4.0
g++ (Ubuntu 9.4.0-1ubuntu1~20.0

[2022-11-10 15:13] arvuce22 commented on #1204
Its already done: You can follow the following repo: https://github.com/ALIGN-analoglayout/ALIGN-pdk-sky130

[2022-11-10 15:13] #1204 closed

[2022-11-10 15:18] arvuce22 commented on #1207
We do not have a cell generator which can generate inductor layouts. Therefore, it is giving you an error. You can remove inductor instances from your netlist and try.

[2022-11-10 15:18] #1207 closed

[2022-11-10 19:17] ChrisZonghaoLi commented on #1204
Affirmative. I will follow that repo and see how it goes. Thanks.

From: arvuce22 ***@***.***>
Date: Thursday, November 10, 2022 at 10:13 AM
To: ALIGN-analoglayout/ALIGN-public ***@***.***>
Cc: Chris Li ***@***.***>, Author ***@***.***>
Subject: Re: [ALIGN-analoglayout/ALIGN-public] ALIGN to work with open pdk (Issue #1204)

Its already done: You can follow the following repo: https://github.com/A

[2022-11-10 20:30] soneryaldiz commented on #1194
After subcircuit identification, case 1 is reduced to a single instance. Is it possible to detect this and eliminate this redundant hierarchy?

[2022-11-10 20:31] soneryaldiz commented on #1147
As a workaround, this can be addressed by a wrapper around ALIGN.

[2022-11-10 20:31] #1147 closed

[2022-11-10 20:49] soneryaldiz commented on #876
This issue has mostly been addressed.

[2022-11-10 20:49] #876 closed

[2022-11-10 21:04] meghna09 commented on #546
@soneryaldiz I think this is fixed in our primitives, so not relevant anymore. I will close the issue.

[2022-11-10 21:04] #546 closed

[2022-11-10 21:07] meghna09 commented on #540
@soneryaldiz, I think we have a fix for this at our end so this is not needed.

[2022-11-10 21:07] #540 closed

[2022-11-10 21:14] soneryaldiz commented on #1044
Need to investigate what the bottleneck is.

[2022-11-10 21:17] soneryaldiz commented on #1044
The solution quality should increase monotonically with more Simulated Annealing iterations.

When we increase SA iterations from 10 to 100, a feasible solution not found.

[2022-11-10 21:21] soneryaldiz commented on #1044
Possibilities:

- Don't change the cooling schedule based on the number of iterations,
- Keep the same temperature profile for a fixed number of iterations at the beginning,

[2022-11-10 21:25] soneryaldiz commented on #1110
Possibilities:
- Pick only a handful that are on the Pareto frontier instead of all `nvariants` for the subhierarchy

Example: There is no point in keeping variants where only the internal signal wire length is varying (iso area, iso pin location)

[2022-11-10 21:33] soneryaldiz commented on #1118
Possibilities:
- Limit a particular subcircuit to a single variant
- Generalize `SameTemplate` to work across hierarchy (list of module name, instance name pairs)

[2022-11-10 21:51] soneryaldiz commented on #1194
PnR only stores a single solution per cost. Therefore, mirrored version of a block will not be returned as a unique variant.

[2022-11-10 21:59] soneryaldiz commented on #1181
Closing as won't do as user can directly specify constraints for a virtual hierarchy:
[code]

[2022-11-10 21:59] #1181 closed

[2022-11-10 22:37] ryancor commented on #1207
gotcha okay, yea it worked before i added it just curious if there wasn't a generator for it yet. Any plans for it in the future?

[2022-11-12 03:10] ryancor commented on #1207
@arvuce22 also any plans to add a cell generator for diodes?

[2022-11-16 02:00] uduse opened #1217 "How does ALIGN handle electromigration concerns?"
It seems that ALIGN PnR operates on a uniform grid, wires have the same width, and it will be difficult to change wire width for different currents going through the wires.

[2022-11-16 03:07] stevenmburns commented on #998
Seems to be resolved in #1218

[2022-11-16 03:07] #998 closed

[2022-11-16 18:21] srini229 opened #1220 "Multi-cut via not enclosed properly"
In the layout of an inverter generated with a modified layers.json, a few cuts of the V4 generated by the router are not properly enclosed.
Below is the layout of the inverter
![image](https://user-images.githubusercontent.com/73570678/202261266-ebb83154-9865-4cf2-8fd5-ceb16ae9ccf3.png)

Zoomed in version of the via:
![image](https://user-images.githubusercontent.com/73570678/202261635-fe8911a9-25

[2022-11-16 18:25] 854768750 commented on #1220
Thanks for letting me know these. I will take look.

------------------&nbsp;Original&nbsp;------------------
From: ***@***.***&gt;;
Date: 2022年11月17日(星期四) 凌晨2:21
To: ***@***.***&gt;;
Cc: ***@***.***&gt;; ***@***.***&gt;;
Subject: [ALIGN-analoglayout/ALIGN-public] Multi-cut via not enclosed properly (Issue #1220)

In the layout of an inverter generated with a modified layers.json, a few cuts of th

[2022-11-18 01:07] #1044 closed

[2022-11-18 21:42] soneryaldiz opened #1224 "Does the C++ placement engine use the CompactPlacement constraint anymore?"
If not, could it be retired completely?

[2022-11-18 21:57] 854768750 commented on #1224
it is not used

[2022-11-18 22:00] soneryaldiz commented on #1224
@854768750 , would you be able to refactor the C++ code to retire this completely? If you start a PR, I can take care of refactoring Python side.

[2022-11-18 22:03] 854768750 commented on #1224
yes I will do that

------------------&nbsp;Original&nbsp;------------------
From: ***@***.***&gt;;
Date: 2022年11月19日(星期六) 上午6:00
To: ***@***.***&gt;;
Cc: ***@***.***&gt;; ***@***.***&gt;;
Subject: Re: [ALIGN-analoglayout/ALIGN-public] Does the C++ placement engine use the CompactPlacement constraint anymore? (Issue #1224)

@854768750 , would you be able to refactor the C++ code to retire this com

[2022-11-19 04:00] srini229 commented on #1224
@soneryaldiz its not actively used but a valid constraint to have. Our placer tends to left/bottom align during placement compaction. This constraint enables right/top and center the blocks during compaction. It might be worthwhile to have it.

[2022-11-21 01:45] soneryaldiz commented on #1224
If it is functional, let's keep it then.

[2022-11-23 22:37] 854768750 commented on #1220
#1228